Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

fix: Chip component (typescript memory consuption)
  pwa/components/atoms/Chip/Chip.tsx
Labels: frontend

fix: Tooltip component (typescript memory consuption)
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

fix: remove comment
  pwa/tsconfig.json
Labels: frontend

test: update snapshots
  pwa/components/atoms/form/InfoTooltip.tsx
  pwa/components/atoms/form/__snapshots__/InfoTooltip.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/atoms/modals/__snapshots__/Tooltip.test.tsx.snap
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
Labels: frontend

fix: RuleOptionProvider for rules in storybook
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/RuleLink.stories.tsx
  pwa/public/mocks/source_field_labels.json
  pwa/utils/RuleOptionsTestProvider.tsx
Labels: frontend

fix: rule styles
  pwa/components/atoms/rules/CombinationRules.tsx
Labels: frontend

test: update snapshots
  pwa/components/atoms/form/InfoTooltip.tsx
  pwa/components/atoms/form/__snapshots__/InfoTooltip.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/atoms/modals/__snapshots__/Tooltip.test.tsx.snap
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
Labels: frontend

fix: Tooltip component (typescript memory consuption)
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

fix: Chip component (typescript memory consuption)
  pwa/components/atoms/Chip/Chip.tsx
Labels: frontend

fix: remove comment
  pwa/tsconfig.json
Labels: frontend

fix: rule styles
  pwa/components/atoms/rules/CombinationRules.tsx
Labels: frontend

fix: Tooltip component (typescript memory consuption)
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

test: update snapshots
  pwa/components/atoms/form/InfoTooltip.tsx
  pwa/components/atoms/form/__snapshots__/InfoTooltip.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/atoms/modals/__snapshots__/Tooltip.test.tsx.snap
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
Labels: frontend

fix: rule styles
  pwa/components/atoms/rules/CombinationRules.tsx
Labels: frontend

fix: RuleOptionProvider for rules in storybook
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/RuleLink.stories.tsx
  pwa/public/mocks/source_field_labels.json
  pwa/utils/RuleOptionsTestProvider.tsx
Labels: frontend

fix: remove comment
  pwa/tsconfig.json
Labels: frontend

fix: Chip component (typescript memory consuption)
  pwa/components/atoms/Chip/Chip.tsx
Labels: frontend

fix: RuleOptionProvider for rules in storybook
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/RuleLink.stories.tsx
  pwa/public/mocks/source_field_labels.json
  pwa/utils/RuleOptionsTestProvider.tsx
Labels: frontend

ESPP_385/ESPP_426 fix: bug
  pwa/components/stateful/CatalogSwitcher/CatalogSwitcher.tsx
  pwa/components/stateful/FieldGuesser/ReadableFieldGuesser.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

ESPP_368-grid fix : translation
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/public/locales/en/common.json
Labels: frontend

ESPP_385 fix : update test
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
Labels: frontend

ESPP_385 fix : update test
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
Labels: frontend

ESPP_385/ESPP_426 fix: bug
  pwa/components/stateful/CatalogSwitcher/CatalogSwitcher.tsx
  pwa/components/stateful/FieldGuesser/ReadableFieldGuesser.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

ESPP_385 fix : update test
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
Labels: frontend

ESPP_385/ESPP_426 fix: bug
  pwa/components/stateful/CatalogSwitcher/CatalogSwitcher.tsx
  pwa/components/stateful/FieldGuesser/ReadableFieldGuesser.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

ESPP_368-grid fix : translation
  pwa/public/locales/en/common.json
Labels: frontend

ESPP_368-grid fix : translation
  pwa/public/locales/en/common.json
Labels: frontend

Fix category fixtures
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/ElasticsearchCategoryFixtures.php
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories_documents.json
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories_indices.json
  api/src/Elasticsuite/Standard/src/Category/Resources/config/services.yaml
Labels: backend

Add a way to get docker-compose logs when build stages fails
  .github/workflows/ci.yml
Labels: none

Add a way to get docker-compose logs when build stages fails
  .github/workflows/ci.yml
Labels: none

Change HTTP3 configuration for Caddy 2.6 and lock it to avoid new failures when Caddy publish a minor version again.
  api/Dockerfile
  api/docker/caddy/Caddyfile
Labels: backend

Lock Caddy to 2.6.0
  api/Dockerfile
Labels: backend

Remove http3 configuration since it's enabled by default on Caddy 2.6.0
  api/docker/caddy/Caddyfile
Labels: backend

Lock Caddy to 2.6.0
  api/Dockerfile
Labels: backend

Lock Caddy to 2.6.0
  api/Dockerfile
Labels: backend

Change HTTP3 configuration for Caddy 2.6 and lock it to avoid new failures when Caddy publish a minor version again.
  api/Dockerfile
  api/docker/caddy/Caddyfile
Labels: backend

Remove http3 configuration since it's enabled by default on Caddy 2.6.0
  api/docker/caddy/Caddyfile
Labels: backend

Change HTTP3 configuration for Caddy 2.6 and lock it to avoid new failures when Caddy publish a minor version again.
  api/Dockerfile
  api/docker/caddy/Caddyfile
Labels: backend

Remove http3 configuration since it's enabled by default on Caddy 2.6.0
  api/docker/caddy/Caddyfile
Labels: backend

Fix category fixtures
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/ElasticsearchCategoryFixtures.php
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories_documents.json
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories_indices.json
  api/src/Elasticsuite/Standard/src/Category/Resources/config/services.yaml
Labels: backend

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']
