Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

fix: parser import error in test coming from jsonld missing mock
  pwa/__mocks__/jsonld.ts
  pwa/components/stateful/SchemaLoader/SchemaLoader.tsx
  pwa/hooks/index.ts
  pwa/hooks/useSchemaLoader.test.ts
  pwa/hooks/useSchemaLoader.ts
  pwa/services/index.ts
Labels: frontend

fix: after rebase
  pwa/components/atoms/closeComponent/CloseComponent.test.tsx
  pwa/components/atoms/subTabs/SubTabPanel.test.tsx
  pwa/components/atoms/subTabs/SubTabs.stories.tsx
  pwa/components/atoms/subTabs/SubTabs.test.tsx
  pwa/components/atoms/subTabs/__snapshots__/SubTabs.test.tsx.snap
  pwa/components/atoms/tree/Tree.test.tsx
  pwa/components/atoms/tree/__snapshots__/Tree.test.tsx.snap
  pwa/components/molecules/layout/TitleBlock/TitleBlock.test.tsx
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.test.tsx
  pwa/components/stateful/CategoryTree/CategoryTree.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/types/categories.ts
Labels: frontend

fix: after rebase
  pwa/components/atoms/closeComponent/CloseComponent.test.tsx
  pwa/components/atoms/subTabs/SubTabPanel.test.tsx
  pwa/components/atoms/subTabs/SubTabs.stories.tsx
  pwa/components/atoms/subTabs/SubTabs.test.tsx
  pwa/components/atoms/subTabs/__snapshots__/SubTabs.test.tsx.snap
  pwa/components/atoms/tree/Tree.test.tsx
  pwa/components/atoms/tree/__snapshots__/Tree.test.tsx.snap
  pwa/components/molecules/layout/TitleBlock/TitleBlock.test.tsx
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.test.tsx
  pwa/components/stateful/CategoryTree/CategoryTree.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/types/categories.ts
Labels: frontend

feat: manage new translation header
  api/config/packages/nelmio_cors.yaml
  pwa/services/api.ts
Labels: backend, frontend

feat: manage new translation header
  api/config/packages/nelmio_cors.yaml
  pwa/services/api.ts
Labels: backend, frontend

#ESPP-389 Add validation on catalog's locales
  api/src/Elasticsuite/Standard/src/Catalog/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Api/Rest/LocalizedCatalogsTest.php
Labels: backend

#ESPP-389 Add validation on catalog's locales
  api/src/Elasticsuite/Standard/src/Catalog/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Api/Rest/LocalizedCatalogsTest.php
Labels: backend

fix: use constants
  api/config/packages/nelmio_cors.yaml
  pwa/constants/api.ts
  pwa/services/api.ts
Labels: backend, frontend

fix: use constants
  api/config/packages/nelmio_cors.yaml
  pwa/constants/api.ts
  pwa/services/api.ts
Labels: backend, frontend

Fix Category Fixture #ESPP-334
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories.yaml
Labels: backend

Fix Category Fixture #ESPP-334
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories.yaml
Labels: backend

Prevent to have duplicate boolean property #ESPP-15
  api/src/Elasticsuite/Standard/src/Index/Converter/SourceFieldToMappingField.php
  api/src/Elasticsuite/Standard/src/Metadata/DataPersister/SourceFieldDataPersister.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldTest.php
  api/src/Elasticsuite/Standard/src/Search/Validator/FilterableFieldConstraintValidator.php
Labels: backend

Prevent to have duplicate boolean property #ESPP-15
  api/src/Elasticsuite/Standard/src/Index/Converter/SourceFieldToMappingField.php
  api/src/Elasticsuite/Standard/src/Metadata/DataPersister/SourceFieldDataPersister.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldTest.php
  api/src/Elasticsuite/Standard/src/Search/Validator/FilterableFieldConstraintValidator.php
Labels: backend

ESPP-378 Update comment on varnish conf
  api/docker/varnish/default.vcl
Labels: backend

ESPP-378 Update comment on varnish conf
  api/docker/varnish/default.vcl
Labels: backend

Add Category Field Configuration #ESPP-231 #ESPP-232 #ESPP-233
  api/migrations/Version20220804091917.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryConfigurationGet.php
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories_documents.json
  api/src/Elasticsuite/Standard/src/Category/DataProvider/CategorySortingOptionDataProvider.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Model/Source/CategorySortingOption.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
  api/src/Elasticsuite/Standard/src/Category/Resolver/ConfigurationResolver.php
  api/src/Elasticsuite/Standard/src/Category/Resources/config/doctrine/Category.Configuration.orm.xml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySortingOptionTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/categories.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/configurations.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/metadata.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Category/Validator/DefaultSortingFieldConstraint.php
  api/src/Elasticsuite/Standard/src/Category/Validator/DefaultSortingFieldConstraintValidator.php
  api/src/Elasticsuite/Standard/src/DependencyInjection/ElasticsuiteExtension.php
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Repository/SourceFieldRepository.php
  api/src/Elasticsuite/Standard/src/Metadata/Resources/config/services.yaml
Labels: backend

Add Category Field Configuration #ESPP-231 #ESPP-232 #ESPP-233
  api/migrations/Version20220804091917.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryConfigurationGet.php
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories_documents.json
  api/src/Elasticsuite/Standard/src/Category/DataProvider/CategorySortingOptionDataProvider.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Model/Source/CategorySortingOption.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
  api/src/Elasticsuite/Standard/src/Category/Resolver/ConfigurationResolver.php
  api/src/Elasticsuite/Standard/src/Category/Resources/config/doctrine/Category.Configuration.orm.xml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySortingOptionTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/categories.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/configurations.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/metadata.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Category/Validator/DefaultSortingFieldConstraint.php
  api/src/Elasticsuite/Standard/src/Category/Validator/DefaultSortingFieldConstraintValidator.php
  api/src/Elasticsuite/Standard/src/DependencyInjection/ElasticsuiteExtension.php
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Repository/SourceFieldRepository.php
  api/src/Elasticsuite/Standard/src/Metadata/Resources/config/services.yaml
Labels: backend

fix: remove call to graphql schema (not used for now)
  pwa/mocks/api.ts
  pwa/mocks/graphql.ts
  pwa/mocks/index.ts
  pwa/services/hydra.ts
  pwa/services/parser.test.ts
  pwa/services/parser.ts
  pwa/types/api.ts
  pwa/types/graphql.ts
  pwa/types/index.ts
Labels: frontend

fix: remove call to graphql schema (not used for now)
  pwa/mocks/api.ts
  pwa/mocks/graphql.ts
  pwa/mocks/index.ts
  pwa/services/hydra.ts
  pwa/services/parser.test.ts
  pwa/services/parser.ts
  pwa/types/api.ts
  pwa/types/graphql.ts
  pwa/types/index.ts
Labels: frontend

fix-test
  pwa/components/atoms/PageTitle/__snapshots__/PageTitle.test.tsx.snap
  pwa/components/atoms/buttons/__snapshots__/Button.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Checkbox.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Dropdown.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/InputText.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/RadioGroup.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Textarea.test.tsx.snap
  pwa/components/atoms/modals/__snapshots__/AlertInfoMessage.test.tsx.snap
  pwa/components/atoms/modals/__snapshots__/PopIn.test.tsx.snap
  pwa/components/atoms/subTabs/__snapshots__/SubTabPanel.test.tsx.snap
  pwa/components/atoms/subTabs/__snapshots__/SubTabs.test.tsx.snap
  pwa/components/molecules/CustomTable/MassiveSelection/__snapshots__/MassiveSelection.test.tsx.snap
  pwa/components/molecules/CustomTable/StickyBar/__snapshots__/StickyBar.test.tsx.snap
  pwa/components/molecules/layout/TitleBlock/__snapshots__/TitleBlock.test.tsx.snap
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/components/organisms/TopProductsTable/__snapshots__/TopProductTable.test.tsx.snap
Labels: frontend

fix-test
  pwa/components/atoms/PageTitle/__snapshots__/PageTitle.test.tsx.snap
  pwa/components/atoms/buttons/__snapshots__/Button.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Checkbox.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Dropdown.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/InputText.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/RadioGroup.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Textarea.test.tsx.snap
  pwa/components/atoms/modals/__snapshots__/AlertInfoMessage.test.tsx.snap
  pwa/components/atoms/modals/__snapshots__/PopIn.test.tsx.snap
  pwa/components/atoms/subTabs/__snapshots__/SubTabPanel.test.tsx.snap
  pwa/components/atoms/subTabs/__snapshots__/SubTabs.test.tsx.snap
  pwa/components/molecules/CustomTable/MassiveSelection/__snapshots__/MassiveSelection.test.tsx.snap
  pwa/components/molecules/CustomTable/StickyBar/__snapshots__/StickyBar.test.tsx.snap
  pwa/components/molecules/layout/TitleBlock/__snapshots__/TitleBlock.test.tsx.snap
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/components/organisms/TopProductsTable/__snapshots__/TopProductTable.test.tsx.snap
Labels: frontend

feat: start login page
  pwa/.storybook/preview.js
  pwa/components/AppProvider.tsx
  pwa/components/stateful-providers/AppProvider/AppProvider.tsx
  pwa/components/stateful-providers/BreadcrumbProvider/BreadcrumbProvider.tsx
  pwa/components/stateful-providers/SchemaProvider/SchemaProvider.tsx
  pwa/components/stateful-providers/UserProvider/UserProvider.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/contexts/index.ts
  pwa/contexts/user.ts
  pwa/hocs/index.ts
  pwa/hocs/withAuth.tsx
  pwa/hooks/index.ts
  pwa/hooks/useApiHeaders.test.ts
  pwa/hooks/useUser.ts
  pwa/pages/_app.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/pages/admin/settings/[...slug].tsx
  pwa/pages/login.tsx
  pwa/services/table.test.ts
  pwa/types/index.ts
  pwa/types/user.ts
  pwa/utils/TestProvider.tsx
  pwa/utils/tests.tsx
  pwa/yarn.lock
Labels: frontend

refactor: remove currentRows state from CustomTable + refactor props names
  pwa/components/organisms/CustomTable/CustomTable.service.ts
  pwa/components/organisms/CustomTable/CustomTable.stories.tsx
  pwa/components/organisms/CustomTable/CustomTable.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/DraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/NonDraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableCell/EditableContent.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/DraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/NonDraggableRow.tsx
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/services/table.ts
Labels: frontend

feat: start login page
  pwa/.storybook/preview.js
  pwa/components/AppProvider.tsx
  pwa/components/stateful-providers/AppProvider/AppProvider.tsx
  pwa/components/stateful-providers/BreadcrumbProvider/BreadcrumbProvider.tsx
  pwa/components/stateful-providers/SchemaProvider/SchemaProvider.tsx
  pwa/components/stateful-providers/UserProvider/UserProvider.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/contexts/index.ts
  pwa/contexts/user.ts
  pwa/hocs/index.ts
  pwa/hocs/withAuth.tsx
  pwa/hooks/index.ts
  pwa/hooks/useApiHeaders.test.ts
  pwa/hooks/useUser.ts
  pwa/pages/_app.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/pages/admin/settings/[...slug].tsx
  pwa/pages/login.tsx
  pwa/services/table.test.ts
  pwa/types/index.ts
  pwa/types/user.ts
  pwa/utils/TestProvider.tsx
  pwa/utils/tests.tsx
  pwa/yarn.lock
Labels: frontend

refactor: remove currentRows state from CustomTable + refactor props names
  pwa/components/organisms/CustomTable/CustomTable.service.ts
  pwa/components/organisms/CustomTable/CustomTable.stories.tsx
  pwa/components/organisms/CustomTable/CustomTable.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/DraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/NonDraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableCell/EditableContent.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/DraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/NonDraggableRow.tsx
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/services/table.ts
Labels: frontend

feat: add login and manage token
  pwa/components/atoms/form/InputText.tsx
  pwa/components/stateful-providers/UserProvider/UserProvider.tsx
  pwa/constants/index.ts
  pwa/constants/user.ts
  pwa/hooks/useApi.test.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useApiFilters.ts
  pwa/hooks/useUser.ts
  pwa/pages/admin/dashboard.tsx
  pwa/pages/login.tsx
  pwa/public/locales/en/login.json
  pwa/public/locales/fr/login.json
  pwa/services/api.test.ts
  pwa/services/api.ts
  pwa/services/index.ts
  pwa/services/storage.ts
  pwa/store/index.ts
  pwa/store/store.ts
  pwa/store/user.ts
  pwa/types/api.ts
  pwa/types/index.ts
  pwa/types/login.ts
Labels: frontend

feat: add login and manage token
  pwa/components/atoms/form/InputText.tsx
  pwa/components/stateful-providers/UserProvider/UserProvider.tsx
  pwa/constants/index.ts
  pwa/constants/user.ts
  pwa/hooks/useApi.test.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useApiFilters.ts
  pwa/hooks/useUser.ts
  pwa/pages/admin/dashboard.tsx
  pwa/pages/login.tsx
  pwa/public/locales/en/login.json
  pwa/public/locales/fr/login.json
  pwa/services/api.test.ts
  pwa/services/api.ts
  pwa/services/index.ts
  pwa/services/storage.ts
  pwa/store/index.ts
  pwa/store/store.ts
  pwa/store/user.ts
  pwa/types/api.ts
  pwa/types/index.ts
  pwa/types/login.ts
Labels: frontend

test: add unit tests
  pwa/components/atoms/form/__snapshots__/InputText.test.tsx.snap
  pwa/hooks/useApi.test.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useUser.test.ts
  pwa/services/__mocks__/storage.ts
  pwa/services/api.test.ts
  pwa/services/api.ts
  pwa/services/storage.test.ts
  pwa/store/i18n.test.ts
  pwa/store/i18n.ts
  pwa/store/user.test.ts
  pwa/store/user.ts
Labels: frontend

test: add unit tests
  pwa/components/atoms/form/__snapshots__/InputText.test.tsx.snap
  pwa/hooks/useApi.test.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useUser.test.ts
  pwa/services/__mocks__/storage.ts
  pwa/services/api.test.ts
  pwa/services/api.ts
  pwa/services/storage.test.ts
  pwa/store/i18n.test.ts
  pwa/store/i18n.ts
  pwa/store/user.test.ts
  pwa/store/user.ts
Labels: frontend

feat: manage resource operations and integration for source_fields
  pwa/components/organisms/CustomTable/CustomTable.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/DraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/NonDraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableCell/EditableContent.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/DraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/NonDraggableRow.tsx
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful-pages/SettingsScope/SettingsScope.tsx
  pwa/components/stateful/CategoryTree/CategoryTree.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/constants/api.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useResource.ts
  pwa/hooks/useUser.ts
  pwa/services/api.ts
  pwa/services/parser.ts
  pwa/services/table.ts
  pwa/types/api.ts
Labels: frontend

feat: manage resource operations and integration for source_fields
  pwa/components/organisms/CustomTable/CustomTable.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/DraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/NonDraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableCell/EditableContent.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/DraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/NonDraggableRow.tsx
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful-pages/SettingsScope/SettingsScope.tsx
  pwa/components/stateful/CategoryTree/CategoryTree.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/constants/api.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useResource.ts
  pwa/hooks/useUser.ts
  pwa/services/api.ts
  pwa/services/parser.ts
  pwa/services/table.ts
  pwa/types/api.ts
Labels: frontend

fix: unit test
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/hooks/useApi.test.ts
Labels: frontend

fix: unit test
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/hooks/useApi.test.ts
Labels: frontend

#ESPP-398 Temporary solution to keep data between deliveries on integration
  .github/workflows/ci.yml
Labels: none

#ESPP-398 Temporary solution to keep data between deliveries on integration
  .github/workflows/ci.yml
Labels: none

feat/ESPP-279-top-products-design-system
  pwa/components/atoms/form/__snapshots__/Tag.test.tsx.snap
  pwa/package-lock.json
Labels: frontend

feat/ESPP-279-top-products-design-system
  pwa/components/atoms/form/__snapshots__/Tag.test.tsx.snap
  pwa/package-lock.json
Labels: frontend

feat/ESPP-279-gql-fetch
  pwa/components/atoms/stock/Stock.tsx
  pwa/components/molecules/CustomTable/Pagination/Pagination.tsx
  pwa/components/molecules/CustomTable/StickyBar/StickyBar.tsx
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.tsx
  pwa/components/organisms/CustomTable/CustomTable.styled.tsx
  pwa/components/organisms/CustomTable/CustomTable.test.tsx
  pwa/components/organisms/CustomTable/CustomTable.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/DraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/NonDraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableCell/NonEditableContent.tsx
  pwa/components/organisms/CustomTable/CustomTableHeader/CustomTableHeader.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/DraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/NonDraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/Row.service.ts
  pwa/components/organisms/ProductsTopAndBottom/ProductsTopAndBottom.tsx
  pwa/components/organisms/TopAndBottomTable/BottomTable.tsx
  pwa/components/organisms/TopAndBottomTable/TopTable.tsx
  pwa/components/organisms/TopProductsTable/TopProductsTable.stories.tsx
  pwa/components/organisms/TopProductsTable/TopProductsTable.tsx
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/constants/api.ts
  pwa/constants/customTable.ts
  pwa/hooks/useApi.test.ts
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
  pwa/types/customTables.ts
  pwa/types/products.ts
Labels: frontend

feat/ESPP-279-gql-fetch
  pwa/components/atoms/stock/Stock.tsx
  pwa/components/molecules/CustomTable/Pagination/Pagination.tsx
  pwa/components/molecules/CustomTable/StickyBar/StickyBar.tsx
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.tsx
  pwa/components/organisms/CustomTable/CustomTable.styled.tsx
  pwa/components/organisms/CustomTable/CustomTable.test.tsx
  pwa/components/organisms/CustomTable/CustomTable.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/DraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableBody/NonDraggableBody.tsx
  pwa/components/organisms/CustomTable/CustomTableCell/NonEditableContent.tsx
  pwa/components/organisms/CustomTable/CustomTableHeader/CustomTableHeader.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/DraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/NonDraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/Row.service.ts
  pwa/components/organisms/ProductsTopAndBottom/ProductsTopAndBottom.tsx
  pwa/components/organisms/TopAndBottomTable/BottomTable.tsx
  pwa/components/organisms/TopAndBottomTable/TopTable.tsx
  pwa/components/organisms/TopProductsTable/TopProductsTable.stories.tsx
  pwa/components/organisms/TopProductsTable/TopProductsTable.tsx
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/constants/api.ts
  pwa/constants/customTable.ts
  pwa/hooks/useApi.test.ts
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
  pwa/types/customTables.ts
  pwa/types/products.ts
Labels: frontend

update-test
  pwa/components/atoms/PageTitle/__snapshots__/PageTitle.test.tsx.snap
  pwa/components/atoms/form/Select.tsx
  pwa/components/atoms/form/__snapshots__/Tag.test.tsx.snap
  pwa/components/atoms/stock/Stock.stories.tsx
  pwa/components/atoms/stock/Stock.test.tsx
  pwa/components/atoms/stock/Stock.tsx
  pwa/components/molecules/CustomTable/Pagination/__snapshots__/Pagination.test.tsx.snap
  pwa/components/molecules/CustomTable/StickyBar/StickyBar.stories.tsx
  pwa/components/molecules/CustomTable/StickyBar/StickyBar.test.tsx
  pwa/components/molecules/CustomTable/StickyBar/__snapshots__/StickyBar.test.tsx.snap
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
  pwa/components/organisms/CustomTable/CustomTable.stories.tsx
  pwa/components/organisms/CustomTable/CustomTable.styled.tsx
  pwa/components/organisms/CustomTable/CustomTable.test.tsx
  pwa/components/organisms/CustomTable/CustomTable.tsx
  pwa/components/organisms/CustomTable/CustomTableCell/NonEditableContent.tsx
  pwa/components/organisms/CustomTable/CustomTableHeader/CustomTableHeader.tsx
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/components/organisms/TopAndBottomTable/BottomTable.tsx
  pwa/components/organisms/TopAndBottomTable/TopTable.tsx
  pwa/components/organisms/TopProductsTable/TopProductTable.test.tsx
  pwa/components/organisms/TopProductsTable/TopProductsTable.tsx
  pwa/components/organisms/TopProductsTable/__snapshots__/TopProductTable.test.tsx.snap
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/package.json
  pwa/types/customTables.ts
  pwa/yarn.lock
Labels: frontend

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']
