Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

fix: eslint
  pwa/components/molecules/layout/tabs/CustomTabs.tsx
Labels: frontend

fix: eslint
  pwa/components/molecules/layout/tabs/CustomTabs.tsx
Labels: frontend

update css PopIn + add new component : closeComponent
  pwa/components/atoms/help/Help.tsx
Labels: frontend

update css PopIn + add new component : closeComponent
  pwa/components/atoms/help/Help.tsx
Labels: frontend

ESPP_174/179/181
  pwa/components/atoms/scope/Language.tsx
  pwa/components/atoms/scope/NbActiveLocales.tsx
  pwa/components/atoms/scope/PopInCatalogs.tsx
  pwa/components/atoms/scope/TitleScope.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

fix: update ESPP_215
  pwa/components/atoms/help/Help.tsx
Labels: frontend

ESPP_174/179/181
  pwa/components/atoms/scope/Language.tsx
  pwa/components/atoms/scope/NbActiveLocales.tsx
  pwa/components/atoms/scope/PopInCatalogs.tsx
  pwa/components/atoms/scope/TitleScope.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

fix: update ESPP_215
  pwa/components/atoms/help/Help.tsx
Labels: frontend

ESPP_174 : update : add stories and borderRadius style
  pwa/components/atoms/scope/PopInCatalogs.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.stories.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.tsx
  pwa/components/molecules/layout/scope/Catalogs.stories.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

ESPP_174_Scopes : update with mui dialog
  pwa/components/atoms/scope/Language.tsx
  pwa/components/atoms/scope/PopInCatalogs.tsx
Labels: frontend

ESPP_174_Scopes : update with mui dialog
  pwa/components/atoms/scope/Language.tsx
  pwa/components/atoms/scope/PopInCatalogs.tsx
Labels: frontend

ESPP_174 : update : add stories and borderRadius style
  pwa/components/atoms/scope/PopInCatalogs.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.stories.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.tsx
  pwa/components/molecules/layout/scope/Catalogs.stories.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

ESPP_174 : update style
  pwa/components/atoms/scope/Language.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

fix: eslint
  pwa/components/atoms/scope/Language.tsx
  pwa/components/atoms/scope/NbActiveLocales.tsx
  pwa/components/atoms/scope/PopInCatalogs.tsx
  pwa/components/atoms/scope/TitleScope.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.stories.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.tsx
  pwa/components/molecules/layout/scope/Catalogs.stories.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

fix: eslint
  pwa/components/atoms/scope/Language.tsx
  pwa/components/atoms/scope/NbActiveLocales.tsx
  pwa/components/atoms/scope/PopInCatalogs.tsx
  pwa/components/atoms/scope/TitleScope.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.stories.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.tsx
  pwa/components/molecules/layout/scope/Catalogs.stories.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

fix : eslint
  pwa/components/atoms/scope/Language.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

ESPP_174 : update style
  pwa/components/atoms/scope/Language.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

fix : eslint
  pwa/components/atoms/scope/Language.tsx
  pwa/components/molecules/layout/scope/ActiveLocales.tsx
  pwa/components/molecules/layout/scope/Catalogs.tsx
Labels: frontend

Remove docker volumes prior to delivery. Do not remove images in a separate command, this should be handled by system prune.
  .github/workflows/ci.yml
Labels: none

Remove docker volumes prior to delivery. Do not remove images in a separate command, this should be handled by system prune.
  .github/workflows/ci.yml
Labels: none

fix-review
  pwa/components/atoms/form/MultiSelect.tsx
Labels: frontend

chore: update .gitignore
  pwa/.gitignore
  pwa/components/.gitignore
Labels: frontend

feat: add Checkbox and Dropdown multiple
  pwa/components/atoms/IonIcon/IonIcon.tsx
  pwa/components/atoms/form/Checkbox.stories.tsx
  pwa/components/atoms/form/Checkbox.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InputText.stories.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
Labels: frontend

fix-review
  pwa/components/atoms/form/MultiSelect.tsx
Labels: frontend

feat: add Filters component
  pwa/components/atoms/buttons/CommonButtonStyle.tsx
  pwa/components/atoms/form/Checkbox.stories.tsx
  pwa/components/atoms/form/Checkbox.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Tag.tsx
  pwa/components/molecules/Filters/Filter.tsx
  pwa/components/molecules/Filters/Filters.stories.tsx
  pwa/components/molecules/Filters/Filters.styled.tsx
  pwa/components/molecules/Filters/Filters.tsx
  pwa/constants/theme.tsx
  pwa/public/locales/en/common.json
  pwa/public/locales/fr/common.json
Labels: frontend

feat: add Checkbox and Dropdown multiple
  pwa/components/atoms/IonIcon/IonIcon.tsx
  pwa/components/atoms/form/Checkbox.stories.tsx
  pwa/components/atoms/form/Checkbox.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InputText.stories.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
Labels: frontend

feat: add Checkbox and Dropdown multiple
  pwa/components/atoms/IonIcon/IonIcon.tsx
  pwa/components/atoms/form/Checkbox.stories.tsx
  pwa/components/atoms/form/Checkbox.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InputText.stories.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
Labels: frontend

feat: add Filters component
  pwa/components/atoms/buttons/CommonButtonStyle.tsx
  pwa/components/atoms/form/Checkbox.stories.tsx
  pwa/components/atoms/form/Checkbox.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Tag.tsx
  pwa/components/molecules/Filters/Filter.tsx
  pwa/components/molecules/Filters/Filters.stories.tsx
  pwa/components/molecules/Filters/Filters.styled.tsx
  pwa/components/molecules/Filters/Filters.tsx
  pwa/constants/theme.tsx
  pwa/public/locales/en/common.json
  pwa/public/locales/fr/common.json
Labels: frontend

feat: add Filters component
  pwa/components/atoms/buttons/CommonButtonStyle.tsx
  pwa/components/atoms/form/Checkbox.stories.tsx
  pwa/components/atoms/form/Checkbox.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Tag.tsx
  pwa/components/molecules/Filters/Filter.tsx
  pwa/components/molecules/Filters/Filters.stories.tsx
  pwa/components/molecules/Filters/Filters.styled.tsx
  pwa/components/molecules/Filters/Filters.tsx
  pwa/constants/theme.tsx
  pwa/public/locales/en/common.json
  pwa/public/locales/fr/common.json
Labels: frontend

chore: update .gitignore
  pwa/.gitignore
  pwa/components/.gitignore
Labels: frontend

chore: update .gitignore
  pwa/.gitignore
  pwa/components/.gitignore
Labels: frontend

fix-review
  pwa/components/atoms/form/MultiSelect.tsx
Labels: frontend

fix-review
  pwa/components/atoms/form/MultiSelect.tsx
Labels: frontend

refacto : update styled
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/help/HelpOver.tsx
  pwa/components/atoms/title/Title.tsx
  pwa/components/atoms/user/UserMenu.tsx
  pwa/components/atoms/user/UserMenuShow.tsx
  pwa/components/molecules/layout/user/User.tsx
Labels: frontend

refacto : update styled
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/help/HelpOver.tsx
  pwa/components/atoms/title/Title.tsx
  pwa/components/atoms/user/UserMenu.tsx
  pwa/components/atoms/user/UserMenuShow.tsx
  pwa/components/molecules/layout/user/User.tsx
Labels: frontend

#ESPP-200 Implement two GraphQl API filters solutions, to choose the good one
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/ExampleFieldFilterCompositeInputType.php
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/ExampleFieldFilterOperatorInputType.php
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/Filter/ExampleBoolFilterInputType.php
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/Filter/ExampleEqualTypeFilterInputType.php
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/Filter/ExampleRangeFilterInputType.php
  api/src/Acme/ExampleBundle/src/Example/Model/ExampleResultDocument.php
  api/src/Acme/ExampleBundle/src/Example/Resources/config/services.yaml
Labels: backend

#ESPP-200 Implement two GraphQl API filters solutions, to choose the good one
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/ExampleFieldFilterCompositeInputType.php
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/ExampleFieldFilterOperatorInputType.php
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/Filter/ExampleBoolFilterInputType.php
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/Filter/ExampleEqualTypeFilterInputType.php
  api/src/Acme/ExampleBundle/src/Example/GraphQl/Type/Definition/Filter/ExampleRangeFilterInputType.php
  api/src/Acme/ExampleBundle/src/Example/Model/ExampleResultDocument.php
  api/src/Acme/ExampleBundle/src/Example/Resources/config/services.yaml
Labels: backend

ESPP_256 fix : color MuiTab
  pwa/constants/theme.tsx
Labels: frontend

ESPP_256 fix : color MuiTab
  pwa/constants/theme.tsx
Labels: frontend

ESPP_216 fix : propsType
  pwa/components/atoms/breadcrumb/BreadCrumbs.tsx
  pwa/components/molecules/layout/appBar/AppBar.tsx
  pwa/components/molecules/layout/breadcrumb/BreadCrumb.tsx
Labels: frontend

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']
