Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']

Give more memory to typescript:ci task.
  .github/workflows/qa.yml
Labels: none

fix: update snapshots
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
Labels: frontend

fix: typescript error
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.tsx
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
Labels: frontend

feat: update dropdown to be searchable
  pwa/components/atoms/Chip/Chip.stories.tsx
  pwa/components/atoms/Chip/Chip.test.tsx
  pwa/components/atoms/Chip/Chip.tsx
  pwa/components/atoms/Chip/__snapshots__/Chip.test.tsx.snap
  pwa/components/atoms/form/Badge.stories.tsx
  pwa/components/atoms/form/Badge.test.tsx
  pwa/components/atoms/form/Badge.tsx
  pwa/components/atoms/form/DropDown.styled.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InputText.stories.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
  pwa/components/atoms/form/Tag.stories.tsx
  pwa/components/atoms/form/Tag.test.tsx
  pwa/components/atoms/form/Tag.tsx
  pwa/components/atoms/form/__snapshots__/Badge.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Dropdown.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/InputText.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Tag.test.tsx.snap
  pwa/components/atoms/stock/Stock.tsx
  pwa/components/atoms/stock/__snapshots__/Stock.test.tsx.snap
  pwa/components/molecules/Filters/Filters.tsx
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/components/stateful/CatalogSwitcher/CatalogSwitcher.tsx
  pwa/components/stateful/FieldGuesser/ReadableFieldGuesser.tsx
  pwa/components/stateful/TopProductsTable/__snapshots__/TopProductTable.test.tsx.snap
  pwa/constants/theme.tsx
  pwa/types/option.ts
Labels: frontend

[Product Api] Sort #ESPP-387
  api/config/packages/api_platform.yaml
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Entity/Decoration/GraphQl/Type/StitchingFieldsBuilder.php
  api/src/Elasticsuite/Standard/src/Index/Converter/SourceField/BasicSourceFieldConverter.php
  api/src/Elasticsuite/Standard/src/Index/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Type.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/DataProvider/ProductDataProvider.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/SortInputType.php
  api/src/Elasticsuite/Standard/src/Product/Model/Product.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/SortInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/fixtures/source_field.yaml
Labels: backend

Fix Category Config Query #ESPP-148
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
Labels: backend

pre ESPP-274 rename Term agg as Terms
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/Terms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/Terms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/BucketInterface.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Container/Configuration/GenericContainerConfiguration.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_assembler.yaml
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_factory.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/DateHistogramTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/HistogramTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/QueryGroupTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/ReverseNestedTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTermTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/TermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Aggregation/AggregationBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/TermsTest.php
Labels: backend

pre ESPP-274 rename SignificantTerm agg as SignificantTerms
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/SignificantTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/BucketInterface.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_assembler.yaml
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_factory.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/SignificantTermsTest.php
Labels: backend

Feat pre espp 274 rename some aggs (#241)
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/Terms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/SignificantTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/Terms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/BucketInterface.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Container/Configuration/GenericContainerConfiguration.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_assembler.yaml
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_factory.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/DateHistogramTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/HistogramTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/QueryGroupTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/ReverseNestedTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/TermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Aggregation/AggregationBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/SignificantTermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/TermsTest.php
Labels: backend

Feat pre espp 274 rename some aggs (#241)
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/Terms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/SignificantTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/Terms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/BucketInterface.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Container/Configuration/GenericContainerConfiguration.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_assembler.yaml
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_factory.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/DateHistogramTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/HistogramTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/QueryGroupTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/ReverseNestedTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/TermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Aggregation/AggregationBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/SignificantTermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/TermsTest.php
Labels: backend

Fix Category Config Query #ESPP-148
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
Labels: backend

Fix Category Config Query #ESPP-148
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
Labels: backend

[Product Api] Sort #ESPP-387
  api/config/packages/api_platform.yaml
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Entity/Decoration/GraphQl/Type/StitchingFieldsBuilder.php
  api/src/Elasticsuite/Standard/src/Index/Converter/SourceField/BasicSourceFieldConverter.php
  api/src/Elasticsuite/Standard/src/Index/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Type.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/DataProvider/ProductDataProvider.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/SortInputType.php
  api/src/Elasticsuite/Standard/src/Product/Model/Product.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/SortInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/fixtures/source_field.yaml
Labels: backend

[Product Api] Sort #ESPP-387
  api/config/packages/api_platform.yaml
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Entity/Decoration/GraphQl/Type/StitchingFieldsBuilder.php
  api/src/Elasticsuite/Standard/src/Index/Converter/SourceField/BasicSourceFieldConverter.php
  api/src/Elasticsuite/Standard/src/Index/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Type.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/DataProvider/ProductDataProvider.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/SortInputType.php
  api/src/Elasticsuite/Standard/src/Product/Model/Product.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/SortInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/fixtures/source_field.yaml
Labels: backend

Set memory limit to 12Gb for build.
  pwa/package.json
Labels: frontend

Set memory limit to 12Gb for build. (#243)
  pwa/package.json
Labels: frontend

Set memory limit to 12Gb for build. (#243)
  pwa/package.json
Labels: frontend

ESPP-199 Search API sorting - missed unit test
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/MapperTest.php
Labels: backend

ESPP-199 Search API sorting - missed unit test (#245)
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/MapperTest.php
Labels: backend

ESPP-199 Search API sorting - missed unit test (#245)
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/MapperTest.php
Labels: backend

Revert "Feat pre espp 274 rename some aggs (#241)"
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTerm.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/Term.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/SignificantTerm.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/Term.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/BucketInterface.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Container/Configuration/GenericContainerConfiguration.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_assembler.yaml
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_factory.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/DateHistogramTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/HistogramTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/QueryGroupTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/ReverseNestedTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/SignificantTermTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/TermTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Aggregation/AggregationBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/SignificantTermTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/TermTest.php
Labels: backend

#ESPP-436 Add filters on source field entities
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceFieldLabel.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceFieldOptionLabel.php
Labels: backend

#ESPP-436 Add filters on source field entities
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceFieldLabel.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceFieldOptionLabel.php
Labels: backend

#ESPP-436 Add filters on source field entities
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceFieldLabel.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceFieldOptionLabel.php
Labels: backend

ESPP-274 Adding support for multi_terms aggregations
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/MultiTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/MultiTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/BucketInterface.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_assembler.yaml
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_factory.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/MultiTermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/TermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/MultiTermsTest.php
Labels: backend

ESPP-274 Adding support for multi_terms aggregations
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/MultiTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/MultiTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/BucketInterface.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_assembler.yaml
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_factory.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/MultiTermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/TermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/MultiTermsTest.php
Labels: backend

ESPP-274 Adding support for multi_terms aggregations
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/MultiTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/Aggregation/Bucket/MultiTerms.php
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Request/BucketInterface.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_assembler.yaml
  api/src/Elasticsuite/Standard/src/Search/Resources/config/elasticsearch/aggregation_factory.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/MultiTermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/Aggregation/Assembler/Bucket/TermsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Request/Aggregation/Bucket/MultiTermsTest.php
Labels: backend

feat: add storybook-addon-next-router and fix yarn.lock
  pwa/.storybook/main.js
  pwa/.storybook/preview.js
  pwa/package.json
  pwa/yarn.lock
Labels: frontend

fix: eslint error
  pwa/pages/index.tsx
Labels: frontend

fix: eslint error
  pwa/pages/index.tsx
Labels: frontend

feat: add storybook-addon-next-router and fix yarn.lock
  pwa/.storybook/main.js
  pwa/.storybook/preview.js
  pwa/package.json
  pwa/yarn.lock
Labels: frontend

fix: eslint error
  pwa/pages/index.tsx
Labels: frontend

feat: add storybook-addon-next-router and fix yarn.lock
  pwa/.storybook/main.js
  pwa/.storybook/preview.js
  pwa/package.json
  pwa/yarn.lock
Labels: frontend

feat: load field, operator and value options in rules
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Rule.styled.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful-providers/RuleOptionsProvider/RuleOptionsProvider.tsx
  pwa/components/stateful/RulesManager/RulesManager.stories.tsx
  pwa/components/stateful/RulesManager/RulesManager.tsx
  pwa/constants/index.ts
  pwa/constants/rules.ts
  pwa/contexts/ruleOptions.ts
  pwa/hocs/withAuth.tsx
  pwa/hooks/index.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useOptions.ts
  pwa/hooks/useResource.ts
  pwa/hooks/useSingletonLoader.test.ts
  pwa/hooks/useSingletonLoader.ts
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/rules.json
  pwa/public/locales/fr/rules.json
  pwa/public/mocks/source_field_option_labels.json
  pwa/services/__mocks__/api.ts
  pwa/services/authProvider.tsx
  pwa/services/hydra.test.ts
  pwa/services/hydra.ts
  pwa/services/options.test.ts
  pwa/tsconfig.json
  pwa/types/fetch.ts
  pwa/types/hydra.ts
  pwa/types/index.ts
  pwa/types/rules.ts
  pwa/types/sourceFieldLabels.ts
  pwa/types/sourceFieldOptionLabels.ts
  pwa/types/sourceFieldOptions.ts
  pwa/utils/TestProvider.tsx
Labels: frontend

feat: load field, operator and value options in rules
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Rule.styled.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful-providers/RuleOptionsProvider/RuleOptionsProvider.tsx
  pwa/components/stateful/RulesManager/RulesManager.stories.tsx
  pwa/components/stateful/RulesManager/RulesManager.tsx
  pwa/constants/index.ts
  pwa/constants/rules.ts
  pwa/contexts/ruleOptions.ts
  pwa/hocs/withAuth.tsx
  pwa/hooks/index.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useOptions.ts
  pwa/hooks/useResource.ts
  pwa/hooks/useSingletonLoader.test.ts
  pwa/hooks/useSingletonLoader.ts
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/rules.json
  pwa/public/locales/fr/rules.json
  pwa/public/mocks/source_field_option_labels.json
  pwa/services/__mocks__/api.ts
  pwa/services/authProvider.tsx
  pwa/services/hydra.test.ts
  pwa/services/hydra.ts
  pwa/services/options.test.ts
  pwa/tsconfig.json
  pwa/types/fetch.ts
  pwa/types/hydra.ts
  pwa/types/index.ts
  pwa/types/rules.ts
  pwa/types/sourceFieldLabels.ts
  pwa/types/sourceFieldOptionLabels.ts
  pwa/types/sourceFieldOptions.ts
  pwa/utils/TestProvider.tsx
Labels: frontend

feat: load field, operator and value options in rules
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Rule.styled.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful-providers/RuleOptionsProvider/RuleOptionsProvider.tsx
  pwa/components/stateful/RulesManager/RulesManager.stories.tsx
  pwa/components/stateful/RulesManager/RulesManager.tsx
  pwa/constants/index.ts
  pwa/constants/rules.ts
  pwa/contexts/ruleOptions.ts
  pwa/hocs/withAuth.tsx
  pwa/hooks/index.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useOptions.ts
  pwa/hooks/useResource.ts
  pwa/hooks/useSingletonLoader.test.ts
  pwa/hooks/useSingletonLoader.ts
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/rules.json
  pwa/public/locales/fr/rules.json
  pwa/public/mocks/source_field_option_labels.json
  pwa/services/__mocks__/api.ts
  pwa/services/authProvider.tsx
  pwa/services/hydra.test.ts
  pwa/services/hydra.ts
  pwa/services/options.test.ts
  pwa/tsconfig.json
  pwa/types/fetch.ts
  pwa/types/hydra.ts
  pwa/types/index.ts
  pwa/types/rules.ts
  pwa/types/sourceFieldLabels.ts
  pwa/types/sourceFieldOptionLabels.ts
  pwa/types/sourceFieldOptions.ts
  pwa/utils/TestProvider.tsx
Labels: frontend

fix: rules integration in category page
  pwa/components/molecules/layout/TitleBlock/TitleBlock.tsx
  pwa/components/molecules/layout/TitleBlock/__snapshots__/TitleBlock.test.tsx.snap
  pwa/components/molecules/layout/fade/VirtualRule.tsx
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.tsx
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
  pwa/components/organisms/CustomTable/CustomTable.styled.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/services/index.ts
  pwa/services/style.test.ts
  pwa/services/style.ts
Labels: frontend

fix: rules integration in category page
  pwa/components/molecules/layout/TitleBlock/TitleBlock.tsx
  pwa/components/molecules/layout/TitleBlock/__snapshots__/TitleBlock.test.tsx.snap
  pwa/components/molecules/layout/fade/VirtualRule.tsx
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.tsx
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
  pwa/components/organisms/CustomTable/CustomTable.styled.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/services/index.ts
  pwa/services/style.test.ts
  pwa/services/style.ts
Labels: frontend

fix: rules integration in category page
  pwa/components/molecules/layout/TitleBlock/TitleBlock.tsx
  pwa/components/molecules/layout/TitleBlock/__snapshots__/TitleBlock.test.tsx.snap
  pwa/components/molecules/layout/fade/VirtualRule.tsx
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.tsx
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
  pwa/components/organisms/CustomTable/CustomTable.styled.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/services/index.ts
  pwa/services/style.test.ts
  pwa/services/style.ts
Labels: frontend

fix: remove material UI Chip component causing build memory and time increase
  pwa/components/atoms/Chip/Chip.stories.tsx
  pwa/components/atoms/Chip/Chip.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/TreeSelector.tsx
Labels: frontend
