Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

refactor: Button component
  pwa/components/atoms/PageTitle/PageTitle.stories.tsx
  pwa/components/atoms/PageTitle/PageTitle.test.tsx
  pwa/components/atoms/buttons/Button.stories.tsx
  pwa/components/atoms/buttons/Button.styled.tsx
  pwa/components/atoms/buttons/Button.test.tsx
  pwa/components/atoms/buttons/Button.tsx
  pwa/components/atoms/buttons/PrimaryButton.tsx
  pwa/components/atoms/buttons/SecondaryButton.tsx
  pwa/components/atoms/buttons/TertiaryButton.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.test.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/subTabs/SubTabPanel.test.tsx
  pwa/components/atoms/subTabs/SubTabs.stories.tsx
  pwa/components/atoms/subTabs/SubTabs.test.tsx
  pwa/components/molecules/Filters/Filters.styled.tsx
  pwa/components/molecules/Filters/Filters.tsx
  pwa/components/molecules/layout/TitleBlock/TitleBlock.stories.tsx
  pwa/components/molecules/layout/TitleBlock/TitleBlock.test.tsx
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.test.tsx
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/components/stateful/TableStickyBar/TableStickyBar.tsx
  pwa/pages/admin/settings/[...slug].tsx
  pwa/pages/login.tsx
Labels: frontend

feat: integration small InputText in attribute Rules
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/mocks/rules.ts
Labels: frontend

refactor: rules design system
  pwa/.storybook/preview.js
  pwa/components/atoms/addIDToArray/AddIDToArray.stories.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.stories.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Page.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/atoms/rules/RuleLink.stories.tsx
  pwa/components/atoms/rules/RuleLink.tsx
  pwa/components/atoms/rules/TypesConditions.stories.tsx
  pwa/components/stateful-providers/RuleOptionsProvider/RuleOptionsProvider.tsx
  pwa/contexts/index.ts
  pwa/contexts/ruleOptions.ts
  pwa/hocs/withAuth.tsx
  pwa/mocks/index.ts
  pwa/mocks/rules.ts
  pwa/public/locales/en/rules.json
  pwa/public/locales/fr/rules.json
  pwa/services/index.ts
  pwa/services/options.ts
  pwa/services/rules.ts
  pwa/types/index.ts
  pwa/utils/TestProvider.tsx
Labels: frontend

ESPP_253
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/rules/Bandeau.tsx
  pwa/components/atoms/rules/Rules.stories.tsx
  pwa/components/atoms/rules/Rules.tsx
Labels: frontend

feat: add small props for InputText
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/InputText.stories.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
  pwa/components/atoms/rules/RuleLink.tsx
Labels: frontend

feat: manage update and delete
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
Labels: frontend

test: add unit tests
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/mocks/rules.ts
  pwa/services/options.test.ts
  pwa/services/rules.test.ts
Labels: frontend

ESPP_253
  pwa/components/atoms/IonIcon/IonIcon.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.stories.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.stories.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.tsx
  pwa/components/atoms/rules/Bandeau.tsx
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Page.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/atoms/rules/Rules.stories.tsx
  pwa/components/atoms/rules/Rules.tsx
  pwa/components/atoms/rules/TypesConditions.stories.tsx
  pwa/components/atoms/rules/TypesConditions.tsx
  pwa/mocks/rules.ts
  pwa/public/images/arrow.svg
  pwa/types/rules.ts
Labels: frontend

feat: manage rule creation
  pwa/components/atoms/buttons/Button.stories.tsx
  pwa/components/atoms/buttons/Button.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/public/locales/en/rules.json
  pwa/public/locales/fr/rules.json
  pwa/types/rules.ts
Labels: frontend

Dual Version - Premium Namespace #ESPP-374
  api/composer.json
  api/config/bundles.php
  api/src/Elasticsuite/Premium/VirtualCategory/README.md
  api/src/Elasticsuite/Premium/VirtualCategory/docs/index.md
  api/src/Elasticsuite/Premium/VirtualCategory/src/DependencyInjection/ElasticVirtualCategoryExtension.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/ElasticVirtualCategoryBundle.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/Resources/config/services.yaml
Labels: backend

Dual Version - Extend Entity #ESPP-374
  api/config/bundles.php
  api/migrations/Version20220902150516.php
  api/phpunit.xml.dist
  api/src/Elasticsuite/Premium/VirtualCategory/docs/index.md
  api/src/Elasticsuite/Premium/VirtualCategory/src/DependencyInjection/ElasticVirtualCategoryExtension.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/ElasticVirtualCategoryBundle.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/Model/Configuration.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/Repository/ConfigurationRepository.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/Resolver/ConfigurationResolver.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/Resources/config/doctrine/Configuration.orm.xml
  api/src/Elasticsuite/Premium/VirtualCategory/src/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryTreeBuilder.php
  api/src/Elasticsuite/Standard/src/DependencyInjection/ElasticsuiteExtension.php
  api/src/Elasticsuite/Standard/src/ScopedEntity/Model/AbstractEntity.php
  api/src/Elasticsuite/Standard/src/ScopedEntity/Model/Scope.php
  api/src/Elasticsuite/Standard/src/ScopedEntity/Repository/AbstractRepository.php
  api/src/Elasticsuite/Standard/src/ScopedEntity/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/ScopedEntity/Service/ScopeValidator.php
Labels: backend

Fix Tests Namespace
  api/src/Elasticsuite/Standard/src/Analysis/Tests/Unit/ConfigTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Api/Rest/CatalogsTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Api/Rest/LocalizedCatalogsTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Unit/DefaultCatalogProviderTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySortingOptionTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySynchronizerTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/IndexOperationsBulkTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/IndexOperationsTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/MappingStatusTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/Rest/IndexOperationsTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/Converter/SourceField/SourceFieldConverterTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/IndexManagerTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/IndexResolverTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/AbstractMenuTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/GraphQl/GetMenuTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/Rest/GetMenuTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/MetadataTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldLabelTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldOptionLabelTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldOptionTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/FacetConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/Rest/FacetConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/SortOrder/AssemblerTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/SimpleRequestBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/SortOrder/SortOrderBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Response/AggregationBuilderTest.php
  api/src/Elasticsuite/Standard/src/Security/Tests/Api/Rest/AuthenticationTest.php
  api/src/Elasticsuite/Standard/src/Test/AbstractEntityTest.php
  api/src/Elasticsuite/Standard/src/Test/AbstractTest.php
  api/src/Elasticsuite/Standard/src/Test/ExpectedResponse.php
  api/src/Elasticsuite/Standard/src/Test/RequestGraphQlToTest.php
  api/src/Elasticsuite/Standard/src/Test/RequestToTest.php
Labels: backend

feat/ESPP-251-and-353
  pwa/components/stateful/Merchandize/Merchandize.stories.tsx
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.test.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.stories.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.tsx
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/constants/api.ts
  pwa/package.json
  pwa/public/locales/en/categories.json
  pwa/public/locales/en/category.json
  pwa/public/locales/fr/categories.json
  pwa/public/locales/fr/category.json
  pwa/types/hydra.ts
  pwa/yarn.lock
Labels: frontend

Prune only unnamed volumes
  .github/workflows/ci.yml
Labels: none

Prune only unnamed volumes (#232)
  .github/workflows/ci.yml
Labels: none

Prune only unnamed volumes (#232)
  .github/workflows/ci.yml
Labels: none

Fix Tests Namespace (#231)
  api/src/Elasticsuite/Standard/src/Analysis/Tests/Unit/ConfigTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Api/Rest/CatalogsTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Api/Rest/LocalizedCatalogsTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Unit/DefaultCatalogProviderTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySortingOptionTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySynchronizerTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/IndexOperationsBulkTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/IndexOperationsTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/MappingStatusTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/Rest/IndexOperationsTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/Converter/SourceField/SourceFieldConverterTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/IndexManagerTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/IndexResolverTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/AbstractMenuTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/GraphQl/GetMenuTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/Rest/GetMenuTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/MetadataTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldLabelTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldOptionLabelTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldOptionTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/FacetConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/Rest/FacetConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/SortOrder/AssemblerTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/SimpleRequestBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/SortOrder/SortOrderBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Response/AggregationBuilderTest.php
  api/src/Elasticsuite/Standard/src/Security/Tests/Api/Rest/AuthenticationTest.php
  api/src/Elasticsuite/Standard/src/Test/AbstractEntityTest.php
  api/src/Elasticsuite/Standard/src/Test/AbstractTest.php
  api/src/Elasticsuite/Standard/src/Test/ExpectedResponse.php
  api/src/Elasticsuite/Standard/src/Test/RequestGraphQlToTest.php
  api/src/Elasticsuite/Standard/src/Test/RequestToTest.php
Labels: backend

Fix Tests Namespace (#231)
  api/src/Elasticsuite/Standard/src/Analysis/Tests/Unit/ConfigTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Api/Rest/CatalogsTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Api/Rest/LocalizedCatalogsTest.php
  api/src/Elasticsuite/Standard/src/Catalog/Tests/Unit/DefaultCatalogProviderTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySortingOptionTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySynchronizerTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/IndexOperationsBulkTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/IndexOperationsTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/GraphQl/MappingStatusTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Api/Rest/IndexOperationsTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/Converter/SourceField/SourceFieldConverterTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/IndexManagerTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/IndexResolverTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/AbstractMenuTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/GraphQl/GetMenuTest.php
  api/src/Elasticsuite/Standard/src/Menu/Tests/Api/Rest/GetMenuTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/MetadataTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldLabelTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldOptionLabelTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldOptionTest.php
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/FacetConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/Rest/FacetConfigurationTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Adapter/Common/Request/SortOrder/AssemblerTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/SimpleRequestBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/SortOrder/SortOrderBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Response/AggregationBuilderTest.php
  api/src/Elasticsuite/Standard/src/Security/Tests/Api/Rest/AuthenticationTest.php
  api/src/Elasticsuite/Standard/src/Test/AbstractEntityTest.php
  api/src/Elasticsuite/Standard/src/Test/AbstractTest.php
  api/src/Elasticsuite/Standard/src/Test/ExpectedResponse.php
  api/src/Elasticsuite/Standard/src/Test/RequestGraphQlToTest.php
  api/src/Elasticsuite/Standard/src/Test/RequestToTest.php
Labels: backend

feat: update dropdown to be searchable
  pwa/components/atoms/Chip/Chip.stories.tsx
  pwa/components/atoms/Chip/Chip.test.tsx
  pwa/components/atoms/Chip/Chip.tsx
  pwa/components/atoms/Chip/__snapshots__/Chip.test.tsx.snap
  pwa/components/atoms/form/Badge.stories.tsx
  pwa/components/atoms/form/Badge.test.tsx
  pwa/components/atoms/form/Badge.tsx
  pwa/components/atoms/form/DropDown.styled.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InputText.stories.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
  pwa/components/atoms/form/Tag.stories.tsx
  pwa/components/atoms/form/Tag.test.tsx
  pwa/components/atoms/form/Tag.tsx
  pwa/components/atoms/form/__snapshots__/Badge.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Dropdown.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/InputText.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/Tag.test.tsx.snap
  pwa/components/atoms/stock/Stock.tsx
  pwa/components/atoms/stock/__snapshots__/Stock.test.tsx.snap
  pwa/components/molecules/Filters/Filters.tsx
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/components/stateful/CatalogSwitcher/CatalogSwitcher.tsx
  pwa/components/stateful/FieldGuesser/ReadableFieldGuesser.tsx
  pwa/components/stateful/TopProductsTable/__snapshots__/TopProductTable.test.tsx.snap
  pwa/constants/theme.tsx
  pwa/types/option.ts
Labels: frontend

Don't stop if pruning unnamed volumes fails.
  .github/workflows/ci.yml
Labels: none

Don't stop if pruning unnamed volumes fails. (#234)
  .github/workflows/ci.yml
Labels: none

Don't stop if pruning unnamed volumes fails. (#234)
  .github/workflows/ci.yml
Labels: none

Give more memory to typescript:ci task.
  .github/workflows/qa.yml
Labels: none

feat/ESPP-251-and-353
  pwa/components/atoms/form/MuiSwitch.stories.tsx
  pwa/components/atoms/form/Switch.stories.tsx
  pwa/components/atoms/form/Switch.style.tsx
  pwa/components/atoms/form/Switch.tsx
  pwa/components/atoms/form/SwitchLabel.stories.tsx
  pwa/components/atoms/form/SwitchLabel.test.tsx
  pwa/components/atoms/form/SwitchLabel.tsx
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/types/categorySortingOption.ts
  pwa/types/hydra.ts
  pwa/types/index.ts
Labels: frontend

update-snpaschot
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
Labels: frontend

feat/ESPP-353-Search-bar (#222)
  node_modules/.yarn-integrity
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InfoTooltip.stories.tsx
  pwa/components/atoms/form/InfoTooltip.test.tsx
  pwa/components/atoms/form/InfoTooltip.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MuiSwitch.stories.tsx
  pwa/components/atoms/form/Switch.stories.tsx
  pwa/components/atoms/form/Switch.style.tsx
  pwa/components/atoms/form/Switch.tsx
  pwa/components/atoms/form/SwitchLabel.test.tsx
  pwa/components/atoms/form/__snapshots__/InfoTooltip.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/molecules/layout/fade/VirtualRule.tsx
  pwa/components/stateful/Merchandize/Merchandize.stories.tsx
  pwa/components/stateful/Merchandize/Merchandize.style.tsx
  pwa/components/stateful/Merchandize/Merchandize.test.tsx
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.styled.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.test.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.stories.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.tsx
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/components/stateful/ProductsTopAndBottom/ProductsTopAndBottom.tsx
  pwa/package.json
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
  pwa/types/categorySortingOption.ts
  pwa/types/index.ts
  pwa/yarn.lock
  yarn.lock
Labels: frontend

feat/ESPP-353-Search-bar (#222)
  node_modules/.yarn-integrity
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InfoTooltip.stories.tsx
  pwa/components/atoms/form/InfoTooltip.test.tsx
  pwa/components/atoms/form/InfoTooltip.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MuiSwitch.stories.tsx
  pwa/components/atoms/form/Switch.stories.tsx
  pwa/components/atoms/form/Switch.style.tsx
  pwa/components/atoms/form/Switch.tsx
  pwa/components/atoms/form/SwitchLabel.test.tsx
  pwa/components/atoms/form/__snapshots__/InfoTooltip.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/molecules/layout/fade/VirtualRule.tsx
  pwa/components/stateful/Merchandize/Merchandize.stories.tsx
  pwa/components/stateful/Merchandize/Merchandize.style.tsx
  pwa/components/stateful/Merchandize/Merchandize.test.tsx
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.styled.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.test.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.stories.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.tsx
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/components/stateful/ProductsTopAndBottom/ProductsTopAndBottom.tsx
  pwa/package.json
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
  pwa/types/categorySortingOption.ts
  pwa/types/index.ts
  pwa/yarn.lock
  yarn.lock
Labels: frontend

ESPP_253
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/rules/Bandeau.tsx
  pwa/components/atoms/rules/Rules.stories.tsx
  pwa/components/atoms/rules/Rules.tsx
Labels: frontend

ESPP_253
  pwa/components/atoms/IonIcon/IonIcon.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.stories.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.stories.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.tsx
  pwa/components/atoms/rules/Bandeau.tsx
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Page.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/atoms/rules/Rules.stories.tsx
  pwa/components/atoms/rules/Rules.tsx
  pwa/components/atoms/rules/TypesConditions.stories.tsx
  pwa/components/atoms/rules/TypesConditions.tsx
  pwa/mocks/rules.ts
  pwa/public/images/arrow.svg
  pwa/types/rules.ts
Labels: frontend

test: add unit tests
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/mocks/rules.ts
  pwa/services/options.test.ts
  pwa/services/rules.test.ts
Labels: frontend

refactor: rules design system
  pwa/.storybook/preview.js
  pwa/components/atoms/addIDToArray/AddIDToArray.stories.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.stories.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Page.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/atoms/rules/RuleLink.stories.tsx
  pwa/components/atoms/rules/RuleLink.tsx
  pwa/components/atoms/rules/TypesConditions.stories.tsx
  pwa/components/stateful-providers/RuleOptionsProvider/RuleOptionsProvider.tsx
  pwa/contexts/index.ts
  pwa/contexts/ruleOptions.ts
  pwa/hocs/withAuth.tsx
  pwa/mocks/index.ts
  pwa/mocks/rules.ts
  pwa/public/locales/en/rules.json
  pwa/public/locales/fr/rules.json
  pwa/services/index.ts
  pwa/services/options.ts
  pwa/services/rules.ts
  pwa/types/index.ts
  pwa/utils/TestProvider.tsx
Labels: frontend

chore-use-resource-instead-or-url
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

ESPP_253
  pwa/components/atoms/IonIcon/IonIcon.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.stories.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.stories.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.tsx
  pwa/components/atoms/rules/Bandeau.tsx
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Page.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/atoms/rules/Rules.stories.tsx
  pwa/components/atoms/rules/Rules.tsx
  pwa/components/atoms/rules/TypesConditions.stories.tsx
  pwa/components/atoms/rules/TypesConditions.tsx
  pwa/mocks/rules.ts
  pwa/public/images/arrow.svg
  pwa/types/rules.ts
Labels: frontend

ESPP_253
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/rules/Bandeau.tsx
  pwa/components/atoms/rules/Rules.stories.tsx
  pwa/components/atoms/rules/Rules.tsx
Labels: frontend

test: add unit tests
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/mocks/rules.ts
  pwa/services/options.test.ts
  pwa/services/rules.test.ts
Labels: frontend

ESPP_253
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/rules/Bandeau.tsx
  pwa/components/atoms/rules/Rules.stories.tsx
  pwa/components/atoms/rules/Rules.tsx
Labels: frontend

test: add unit tests
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/mocks/rules.ts
  pwa/services/options.test.ts
  pwa/services/rules.test.ts
Labels: frontend

ESPP_253
  pwa/components/atoms/IonIcon/IonIcon.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.stories.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.stories.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.tsx
  pwa/components/atoms/rules/Bandeau.tsx
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Page.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/atoms/rules/Rules.stories.tsx
  pwa/components/atoms/rules/Rules.tsx
  pwa/components/atoms/rules/TypesConditions.stories.tsx
  pwa/components/atoms/rules/TypesConditions.tsx
  pwa/mocks/rules.ts
  pwa/public/images/arrow.svg
  pwa/types/rules.ts
Labels: frontend

refactor: rules design system
  pwa/.storybook/preview.js
  pwa/components/atoms/addIDToArray/AddIDToArray.stories.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.stories.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Page.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/atoms/rules/RuleLink.stories.tsx
  pwa/components/atoms/rules/RuleLink.tsx
  pwa/components/atoms/rules/TypesConditions.stories.tsx
  pwa/components/stateful-providers/RuleOptionsProvider/RuleOptionsProvider.tsx
  pwa/contexts/index.ts
  pwa/contexts/ruleOptions.ts
  pwa/hocs/withAuth.tsx
  pwa/mocks/index.ts
  pwa/mocks/rules.ts
  pwa/public/locales/en/rules.json
  pwa/public/locales/fr/rules.json
  pwa/services/index.ts
  pwa/services/options.ts
  pwa/services/rules.ts
  pwa/types/index.ts
  pwa/utils/TestProvider.tsx
Labels: frontend

refactor: rules design system
  pwa/.storybook/preview.js
  pwa/components/atoms/addIDToArray/AddIDToArray.stories.tsx
  pwa/components/atoms/addIDToArray/AddIDToArray.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.stories.tsx
  pwa/components/atoms/containerWithRightOverflow/ContainerWithRightOverflow.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
  pwa/components/atoms/rules/CombinationRules.stories.tsx
  pwa/components/atoms/rules/CombinationRules.tsx
  pwa/components/atoms/rules/Page.stories.tsx
  pwa/components/atoms/rules/Rule.stories.tsx
  pwa/components/atoms/rules/Rule.tsx
  pwa/components/atoms/rules/RuleLink.stories.tsx
  pwa/components/atoms/rules/RuleLink.tsx
  pwa/components/atoms/rules/TypesConditions.stories.tsx
  pwa/components/stateful-providers/RuleOptionsProvider/RuleOptionsProvider.tsx
  pwa/contexts/index.ts
  pwa/contexts/ruleOptions.ts
  pwa/hocs/withAuth.tsx
  pwa/mocks/index.ts
  pwa/mocks/rules.ts
  pwa/public/locales/en/rules.json
  pwa/public/locales/fr/rules.json
  pwa/services/index.ts
  pwa/services/options.ts
  pwa/services/rules.ts
  pwa/types/index.ts
  pwa/utils/TestProvider.tsx
Labels: frontend

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']
