Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']

feat/ESPP-353-Search-bar
  node_modules/.yarn-integrity
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
  yarn.lock
Labels: frontend

feat/ESPP-353-Search-bar
  pwa/components/stateful/Merchandize/SearchBar/Search.styled.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.test.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.stories.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.tsx
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
  pwa/public/locales/en/category.json
  pwa/public/locales/fr/category.json
Labels: frontend

feat/ESPP-353-Search-bar
  pwa/components/atoms/form/InputText.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.test.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.tsx
Labels: frontend

feat/ESPP-353-Search-bar
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
Labels: frontend

feat/ESPP-353-Search-bar
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.tsx
  pwa/public/locales/en/category.json
  pwa/public/locales/fr/category.json
Labels: frontend

feat/ESPP-353-Search-bar
  node_modules/.yarn-integrity
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
  yarn.lock
Labels: frontend

feat/ESPP-353-Search-bar
  pwa/public/locales/en/category.json
  pwa/public/locales/fr/category.json
Labels: frontend

feat/ESPP-353-Search-bar
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
Labels: frontend

feat/ESPP-353-Search-bar
  pwa/public/locales/en/category.json
  pwa/public/locales/fr/category.json
Labels: frontend

feat/ESPP-353-Search-bar
  pwa/public/locales/en/category.json
Labels: frontend

ESPP-276 Static def. of category, image, keyword support added
  api/src/Elasticsuite/Standard/src/Index/Converter/SourceFieldToMappingField.php
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Type.php
Labels: backend

ESPP-276 Static def. of category, image, keyword support added
  api/src/Elasticsuite/Standard/src/Index/Converter/SourceFieldToMappingField.php
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Type.php
Labels: backend

fix: use client side navigation as much as possible
  pwa/components/atoms/menu/MenuItem.tsx
  pwa/components/atoms/menu/MenuItemIcon.tsx
  pwa/components/molecules/layout/Sidebar/Sidebar.tsx
  pwa/next.config.js
  pwa/pages/admin/settings.tsx
Labels: frontend

fix: use client side navigation as much as possible
  pwa/components/atoms/menu/MenuItem.tsx
  pwa/components/atoms/menu/MenuItemIcon.tsx
  pwa/components/molecules/layout/Sidebar/Sidebar.tsx
  pwa/next.config.js
  pwa/pages/admin/settings.tsx
Labels: frontend

fix: move providers to avoid loading the schema everytime we navigate on another route
  pwa/components/molecules/layout/Sidebar/__snapshots__/Sidebar.test.tsx.snap
  pwa/components/stateful-providers/DataProvider/DataProvider.tsx
  pwa/components/stateful-providers/UserProvider/UserProvider.tsx
  pwa/hocs/withAuth.tsx
  pwa/pages/_app.tsx
Labels: frontend

fix: move providers to avoid loading the schema everytime we navigate on another route
  pwa/components/molecules/layout/Sidebar/__snapshots__/Sidebar.test.tsx.snap
  pwa/components/stateful-providers/DataProvider/DataProvider.tsx
  pwa/components/stateful-providers/UserProvider/UserProvider.tsx
  pwa/hocs/withAuth.tsx
  pwa/pages/_app.tsx
Labels: frontend

Filter SourceField by Entity
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
Labels: backend

Filter SourceField by Entity
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
Labels: backend

Define dropdown value for sourcefield types #ESPP-412
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Type.php
Labels: backend

Define dropdown value for sourcefield types #ESPP-412
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Type.php
Labels: backend

Fix ESPP-269 add missing isSystem flags
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
Labels: backend

Fix ESPP-269 add missing isSystem flags
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
Labels: backend

feat: add useApiEditableList hook with optimistic updates
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/hooks/useApi.test.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useResource.test.ts
  pwa/hooks/useResource.ts
  pwa/services/url.test.ts
  pwa/services/url.ts
  pwa/types/api.ts
Labels: frontend

feat: add useApiEditableList hook with optimistic updates
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/hooks/useApi.test.ts
  pwa/hooks/useApi.ts
  pwa/hooks/useResource.test.ts
  pwa/hooks/useResource.ts
  pwa/services/url.test.ts
  pwa/services/url.ts
  pwa/types/api.ts
Labels: frontend

fix: operation reload conditions
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/hooks/useApi.test.ts
  pwa/hooks/useApi.ts
Labels: frontend

fix: operation reload conditions
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/hooks/useApi.test.ts
  pwa/hooks/useApi.ts
Labels: frontend

Add dropdown options in api documentation #ESPP-340
  api/migrations/Version20220831115429.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Weight.php
  api/src/Elasticsuite/Standard/src/Metadata/Resources/config/doctrine/SourceField.orm.xml
  api/src/Elasticsuite/Standard/src/Metadata/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldTest.php
Labels: backend

Add dropdown options in api documentation #ESPP-340
  api/migrations/Version20220831115429.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField/Weight.php
  api/src/Elasticsuite/Standard/src/Metadata/Resources/config/doctrine/SourceField.orm.xml
  api/src/Elasticsuite/Standard/src/Metadata/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Tests/Api/Rest/SourceFieldTest.php
Labels: backend

Prevent Run Unit Test Twice
  .github/workflows/ci.yml
Labels: none

Prevent Run Unit Test Twice
  .github/workflows/ci.yml
Labels: none

Prevent Run Unit Test Twice
  .github/workflows/ci.yml
Labels: none

Add dropdown options in api documentation #ESPP-340
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
Labels: backend

feat/ESPP-368-search-configuration-attribute
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful/FieldGuesser/EditableFieldGuesser.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/components/stateful/TableStickyBar/TableStickyBar.tsx
  pwa/constants/api.ts
  pwa/hooks/useApiFilters.ts
  pwa/hooks/useApiTable.test.ts
  pwa/hooks/useApiTable.ts
  pwa/mocks/api.ts
  pwa/pages/admin/search/configuration/attributes.tsx
  pwa/services/field.test.ts
  pwa/services/field.ts
  pwa/services/index.ts
  pwa/services/table.test.ts
  pwa/services/table.ts
  pwa/services/url.test.ts
  pwa/types/hydra.ts
Labels: frontend

feat/ESPP-353-Search-bar
  node_modules/.yarn-integrity
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InfoTooltip.stories.tsx
  pwa/components/atoms/form/InfoTooltip.test.tsx
  pwa/components/atoms/form/InfoTooltip.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/SwitchLabel.stories.tsx
  pwa/components/atoms/form/SwitchLabel.style.tsx
  pwa/components/atoms/form/SwitchLabel.test.tsx
  pwa/components/atoms/form/SwitchLabel.tsx
  pwa/components/atoms/form/__snapshots__/InfoTooltip.test.tsx.snap
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/molecules/layout/fade/VirtualRule.tsx
  pwa/components/stateful/Merchandize/Merchandize.stories.tsx
  pwa/components/stateful/Merchandize/Merchandize.style.tsx
  pwa/components/stateful/Merchandize/Merchandize.test.tsx
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.styled.tsx
  pwa/components/stateful/Merchandize/SearchBar/Search.test.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.stories.tsx
  pwa/components/stateful/Merchandize/SearchBar/SearchBar.tsx
  pwa/components/stateful/Merchandize/SearchBar/__snapshots__/Search.test.tsx.snap
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/components/stateful/ProductsTopAndBottom/ProductsTopAndBottom.tsx
  pwa/constants/api.ts
  pwa/package.json
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/category.json
  pwa/public/locales/fr/category.json
  pwa/types/hydra.ts
  pwa/yarn.lock
  yarn.lock
Labels: frontend

fix-review
  pwa/components/organisms/CustomTable/CustomTableRow/DraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/NonDraggableRow.tsx
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful/FieldGuesser/EditableFieldGuesser.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/constants/api.ts
  pwa/hooks/useApi.ts
  pwa/pages/admin/search/configuration/attributes.tsx
  pwa/services/table.ts
  pwa/types/customTables.ts
  pwa/types/field.ts
Labels: frontend

fix-test
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/hooks/useApiTable.test.ts
  pwa/services/table.test.ts
  pwa/services/url.test.ts
Labels: frontend

fix-review
  pwa/components/organisms/CustomTable/CustomTableRow/DraggableRow.tsx
  pwa/components/organisms/CustomTable/CustomTableRow/NonDraggableRow.tsx
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful/FieldGuesser/EditableFieldGuesser.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/constants/api.ts
  pwa/hooks/useApi.ts
  pwa/pages/admin/search/configuration/attributes.tsx
  pwa/services/table.ts
  pwa/types/customTables.ts
  pwa/types/field.ts
Labels: frontend

feat/ESPP-368-search-configuration-attribute
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful-pages/SettingsAttributes/SettingsAttributes.tsx
  pwa/components/stateful/FieldGuesser/EditableFieldGuesser.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/components/stateful/TableStickyBar/TableStickyBar.tsx
  pwa/constants/api.ts
  pwa/hooks/useApiFilters.ts
  pwa/hooks/useApiTable.test.ts
  pwa/hooks/useApiTable.ts
  pwa/mocks/api.ts
  pwa/pages/admin/search/configuration/attributes.tsx
  pwa/services/field.test.ts
  pwa/services/field.ts
  pwa/services/index.ts
  pwa/services/table.test.ts
  pwa/services/table.ts
  pwa/services/url.test.ts
  pwa/types/hydra.ts
Labels: frontend

fix-test
  pwa/components/organisms/CustomTable/__snapshots__/CustomTable.test.tsx.snap
  pwa/hooks/useApiTable.test.ts
  pwa/services/table.test.ts
  pwa/services/url.test.ts
Labels: frontend

Add dropdown options in api documentation #ESPP-340
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
Labels: backend
