Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']

ESPP_367 update title in NoAttributes in storybook and test
  pwa/components/atoms/noAttributes/NoAttributes.stories.tsx
  pwa/components/atoms/noAttributes/NoAttributes.test.tsx
  pwa/components/atoms/noAttributes/__snapshots__/NoAttributes.test.tsx.snap
Labels: frontend

Dual Version - Premium Namespace #ESPP-374
  api/composer.json
  api/config/bundles.php
Labels: backend

Dual Version - Premium Namespace #ESPP-374
  api/composer.json
  api/config/bundles.php
  api/src/Elasticsuite/Premium/VirtualCategory/README.md
  api/src/Elasticsuite/Premium/VirtualCategory/src/DependencyInjection/ElasticVirtualCategoryExtension.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/ElasticVirtualCategoryBundle.php
  api/src/Elasticsuite/Premium/VirtualCategory/src/Resources/config/services.yaml
Labels: backend

ESPP-369 Add virtualRule category attribute
  api/migrations/Version20220922095548.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
  api/src/Elasticsuite/Standard/src/Category/Resources/config/doctrine/Category.Configuration.orm.xml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryTreeBuilder.php
Labels: backend

#ESPP-12 Product positions
  api/migrations/Version20220908102018.php
  api/src/Elasticsuite/Standard/src/Catalog/Model/Catalog.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryConfigurationGet.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryProductPositionGet.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryProductPositionSave.php
  api/src/Elasticsuite/Standard/src/Category/Controller/GetCategoryTree.php
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories.yaml
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterBulk.php
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterBulkDelete.php
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterInstall.php
  api/src/Elasticsuite/Standard/src/Category/EventSubscriber/ReindexPosition.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/ProductMerchandising.php
  api/src/Elasticsuite/Standard/src/Category/OpenApi/CategoryDecorator.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductMerchandisingRepository.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductPositionIndexer/CategoryProductPositionIndexerRepository.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductPositionIndexer/CategoryProductPositionIndexerRepositoryInterface.php
  api/src/Elasticsuite/Standard/src/Category/Resolver/PositionGetResolver.php
  api/src/Elasticsuite/Standard/src/Category/Resolver/PositionSaveResolver.php
  api/src/Elasticsuite/Standard/src/Category/Resources/config/doctrine/Category.ProductMerchandising.orm.xml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryProductPositionManager.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/CategoryTestTrait.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryProductMerchandisingTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySynchronizerTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/SyncCategoryProductMerchandisingDataTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryProductMerchandisingTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_documents_bulk.json
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_merchandising_bulk.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/FilterableFieldTrait.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
Labels: backend

#ESPP-12 Product positions
  api/migrations/Version20220908102018.php
  api/src/Elasticsuite/Standard/src/Catalog/Model/Catalog.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryConfigurationGet.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryProductPositionGet.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryProductPositionSave.php
  api/src/Elasticsuite/Standard/src/Category/Controller/GetCategoryTree.php
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories.yaml
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterBulk.php
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterBulkDelete.php
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterInstall.php
  api/src/Elasticsuite/Standard/src/Category/EventSubscriber/ReindexPosition.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/ProductMerchandising.php
  api/src/Elasticsuite/Standard/src/Category/OpenApi/CategoryDecorator.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductMerchandisingRepository.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductPositionIndexer/CategoryProductPositionIndexerRepository.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductPositionIndexer/CategoryProductPositionIndexerRepositoryInterface.php
  api/src/Elasticsuite/Standard/src/Category/Resolver/PositionGetResolver.php
  api/src/Elasticsuite/Standard/src/Category/Resolver/PositionSaveResolver.php
  api/src/Elasticsuite/Standard/src/Category/Resources/config/doctrine/Category.ProductMerchandising.orm.xml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryProductPositionManager.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/CategoryTestTrait.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryProductMerchandisingTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySynchronizerTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/SyncCategoryProductMerchandisingDataTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryProductMerchandisingTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_documents_bulk.json
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_merchandising_bulk.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/FilterableFieldTrait.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
Labels: backend

#ESPP-12 Product positions
  api/migrations/Version20220908102018.php
  api/src/Elasticsuite/Standard/src/Catalog/Model/Catalog.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryConfigurationGet.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryProductPositionGet.php
  api/src/Elasticsuite/Standard/src/Category/Controller/CategoryProductPositionSave.php
  api/src/Elasticsuite/Standard/src/Category/Controller/GetCategoryTree.php
  api/src/Elasticsuite/Standard/src/Category/DataFixtures/fixtures/categories.yaml
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterBulk.php
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterBulkDelete.php
  api/src/Elasticsuite/Standard/src/Category/Decoration/SyncCategoryDataAfterInstall.php
  api/src/Elasticsuite/Standard/src/Category/EventSubscriber/ReindexPosition.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/ProductMerchandising.php
  api/src/Elasticsuite/Standard/src/Category/OpenApi/CategoryDecorator.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductMerchandisingRepository.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductPositionIndexer/CategoryProductPositionIndexerRepository.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryProductPositionIndexer/CategoryProductPositionIndexerRepositoryInterface.php
  api/src/Elasticsuite/Standard/src/Category/Resolver/PositionGetResolver.php
  api/src/Elasticsuite/Standard/src/Category/Resolver/PositionSaveResolver.php
  api/src/Elasticsuite/Standard/src/Category/Resources/config/doctrine/Category.ProductMerchandising.orm.xml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryProductPositionManager.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/CategoryTestTrait.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryProductMerchandisingTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategorySynchronizerTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/SyncCategoryProductMerchandisingDataTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryProductMerchandisingTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_documents_bulk.json
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/product_merchandising_bulk.yaml
  api/src/Elasticsuite/Standard/src/Category/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/FilterableFieldTrait.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
Labels: backend

[Product Api] Filters #ESPP-272
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Repository/SourceFieldRepository.php
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/DataProvider/ProductDataProvider.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/FieldFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/AbstractFilter.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/BoolFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/DateTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FilterInterface.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FloatTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/IntegerTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/TextTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/Model/Product.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/FieldFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/BoolFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Service/GraphQl/FilterManager.php
  pwa/types/hydra.ts
Labels: backend, frontend

[Product Api] Filters #ESPP-272
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Repository/SourceFieldRepository.php
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/DataProvider/ProductDataProvider.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/FieldFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/AbstractFilter.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/BoolFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/DateTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FilterInterface.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FloatTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/IntegerTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/TextTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/Model/Product.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/FieldFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/BoolFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Service/GraphQl/FilterManager.php
  pwa/types/hydra.ts
Labels: backend, frontend

[Product Api] Filters #ESPP-272
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Metadata/DataFixtures/fixtures/system_source_field.yaml
  api/src/Elasticsuite/Standard/src/Metadata/Model/SourceField.php
  api/src/Elasticsuite/Standard/src/Metadata/Repository/SourceFieldRepository.php
  api/src/Elasticsuite/Standard/src/Product/DataFixtures/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/DataProvider/ProductDataProvider.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/FieldFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/AbstractFilter.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/BoolFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/DateTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FilterInterface.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FloatTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/IntegerTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/TextTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/Model/Product.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/source_field.yaml
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/FieldFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/BoolFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Service/GraphQl/FilterManager.php
  pwa/types/hydra.ts
Labels: backend, frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  .gitignore
  package.json
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/types/categories.ts
Labels: frontend

feat/ESPP-382-save-button
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button
  pwa/components/atoms/form/Switch.tsx
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button mise en place des alert, correction des retour de lea feat/251/264/392/391/252
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button-snapShot
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
Labels: frontend

ESPP-369 Add virtualRule category attribute
  api/migrations/Version20220922095548.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
  api/src/Elasticsuite/Standard/src/Category/Resources/config/doctrine/Category.Configuration.orm.xml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryTreeBuilder.php
Labels: backend

ESPP-369 Add virtualRule category attribute
  api/migrations/Version20220922095548.php
  api/src/Elasticsuite/Standard/src/Category/Model/Category/Configuration.php
  api/src/Elasticsuite/Standard/src/Category/Repository/CategoryConfigurationRepository.php
  api/src/Elasticsuite/Standard/src/Category/Resources/config/doctrine/Category.Configuration.orm.xml
  api/src/Elasticsuite/Standard/src/Category/Resources/config/validator/validation.yaml
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryTreeBuilder.php
Labels: backend

Add Catalog Id Validation on Category Tree Api #ESPP-148
  api/src/Elasticsuite/Standard/src/Category/Controller/GetCategoryTree.php
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryTreeBuilder.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTreeTest.php
Labels: backend

feat/ESPP-382-save-button/retourTonyCorriger
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

Add lt, gt and exist operator #ESPP-272
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/AbstractFilter.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/DateTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FloatTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/IntegerTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/TextTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Builder/Request/Query/Filter/FilterQueryBuilder.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/ExistFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/RangeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Query/Filter/FilterQueryBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Query/FilterQueryBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/fixtures/documents.json
Labels: backend

Add lt, gt and exist operator #ESPP-272
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/AbstractFilter.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/DateTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FloatTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/IntegerTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/TextTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Builder/Request/Query/Filter/FilterQueryBuilder.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/ExistFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/RangeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Query/Filter/FilterQueryBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Query/FilterQueryBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/fixtures/documents.json
Labels: backend

Add lt, gt and exist operator #ESPP-272
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/AbstractFilter.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/DateTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/FloatTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/IntegerTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/GraphQl/Type/Definition/Filter/TextTypeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Product/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Product/Tests/Api/GraphQl/SearchProductsTest.php
  api/src/Elasticsuite/Standard/src/Product/Tests/fixtures/product_documents.json
  api/src/Elasticsuite/Standard/src/Search/Elasticsearch/Builder/Request/Query/Filter/FilterQueryBuilder.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/ExistFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/GraphQl/Type/Definition/Filter/RangeFilterInputType.php
  api/src/Elasticsuite/Standard/src/Search/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Search/Tests/Api/GraphQl/SearchDocumentsTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Query/Filter/FilterQueryBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/Unit/Elasticsearch/Builder/Request/Query/FilterQueryBuilderTest.php
  api/src/Elasticsuite/Standard/src/Search/Tests/fixtures/documents.json
Labels: backend

Add Catalog Id Validation on Category Tree Api #ESPP-148
  api/src/Elasticsuite/Standard/src/Category/Controller/GetCategoryTree.php
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryTreeBuilder.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTreeTest.php
Labels: backend

Add Catalog Id Validation on Category Tree Api #ESPP-148
  api/src/Elasticsuite/Standard/src/Category/Controller/GetCategoryTree.php
  api/src/Elasticsuite/Standard/src/Category/Service/CategoryTreeBuilder.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/GraphQl/CategoryTreeTest.php
  api/src/Elasticsuite/Standard/src/Category/Tests/Api/Rest/CategoryTreeTest.php
Labels: backend

#ESPP-421 Add test on GraphQl schema generation
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/Api/GraphQl/GraphQlSchemaTest.php
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/fixtures/metadata.yaml
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/fixtures/metadata_fake.yaml
Labels: backend

feat/ESPP-382-save-button/retourTonyCorriger
  .gitignore
  node_modules/.yarn-integrity
  package.json
  yarn.lock
Labels: none

ESPP_367 update when no result after filter
  pwa/components/organisms/PagerTable/PagerTable.tsx
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/public/locales/en/common.json
  pwa/public/locales/fr/common.json
Labels: frontend

ESPP_367 update wording/translations + add when no result on filter
  pwa/components/atoms/noAttributes/NoAttributes.stories.tsx
  pwa/components/atoms/noAttributes/NoAttributes.test.tsx
  pwa/components/atoms/noAttributes/__snapshots__/NoAttributes.test.tsx.snap
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/public/locales/en/attributes.json
  pwa/public/locales/fr/attributes.json
Labels: frontend

ESPP_367 refacto : commonGridFromSourceField
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
Labels: frontend

ESPP_367 update when no result after filter
  pwa/components/organisms/PagerTable/PagerTable.tsx
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/public/locales/en/common.json
  pwa/public/locales/fr/common.json
Labels: frontend

ESPP_367 refacto : commonGridFromSourceField
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
Labels: frontend

ESPP_367 update when no result after filter
  pwa/components/organisms/PagerTable/PagerTable.tsx
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/components/stateful/TableGuesser/TableGuesser.tsx
  pwa/public/locales/en/common.json
  pwa/public/locales/fr/common.json
Labels: frontend

ESPP_367 refacto : commonGridFromSourceField
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
Labels: frontend

ESPP_367 update wording/translations + add when no result on filter
  pwa/components/atoms/noAttributes/NoAttributes.stories.tsx
  pwa/components/atoms/noAttributes/NoAttributes.test.tsx
  pwa/components/atoms/noAttributes/__snapshots__/NoAttributes.test.tsx.snap
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/public/locales/en/attributes.json
  pwa/public/locales/fr/attributes.json
Labels: frontend

ESPP_367 update wording/translations + add when no result on filter
  pwa/components/atoms/noAttributes/NoAttributes.stories.tsx
  pwa/components/atoms/noAttributes/NoAttributes.test.tsx
  pwa/components/atoms/noAttributes/__snapshots__/NoAttributes.test.tsx.snap
  pwa/components/stateful-pages/CommonGridFromSourceField/CommonGridFromSourceField.tsx
  pwa/public/locales/en/attributes.json
  pwa/public/locales/fr/attributes.json
Labels: frontend
