Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

Fix coverage test so that urls are usable in GitHub.
  .github/workflows/ci.yml
Labels: none

Fix coverage test so that urls are usable in GitHub.
  .github/workflows/ci.yml
Labels: none

Fix coverage test so that urls are usable in GitHub. (#123)
  .github/workflows/ci.yml
Labels: none

Fix coverage test so that urls are usable in GitHub. (#123)
  .github/workflows/ci.yml
Labels: none

Add collector fields #ESPP-266
  api/src/Elasticsuite/Standard/src/Index/Model/Index/Mapping.php
  api/src/Elasticsuite/Standard/src/Index/Model/Index/Mapping/Field.php
  api/src/Elasticsuite/Standard/src/Index/Model/Index/MappingInterface.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/IndexManagerTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/fixtures/source_field.yaml
Labels: backend

Add collector fields #ESPP-266
  api/src/Elasticsuite/Standard/src/Index/Model/Index/Mapping.php
  api/src/Elasticsuite/Standard/src/Index/Model/Index/Mapping/Field.php
  api/src/Elasticsuite/Standard/src/Index/Model/Index/MappingInterface.php
  api/src/Elasticsuite/Standard/src/Index/Tests/Unit/IndexManagerTest.php
  api/src/Elasticsuite/Standard/src/Index/Tests/fixtures/source_field.yaml
Labels: backend

feat: add Checkbox and Dropdown multiple
  pwa/components/atoms/IonIcon/IonIcon.tsx
  pwa/components/atoms/form/Checkbox.stories.tsx
  pwa/components/atoms/form/Checkbox.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Dropdown.stories.tsx
  pwa/components/atoms/form/InputText.stories.tsx
  pwa/components/atoms/form/InputText.tsx
  pwa/components/atoms/form/MultiSelect.tsx
  pwa/components/atoms/form/Select.styled.tsx
  pwa/components/atoms/form/Select.tsx
Labels: frontend

Add Global Analyzerz Configuration #ESPP-268
  api/src/Elasticsuite/Standard/src/Analysis/Resources/config/elasticsuite_analysis.yaml
  api/src/Elasticsuite/Standard/src/Analysis/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Analysis/Resources/config/test/elasticsuite_analysis.yaml
  api/src/Elasticsuite/Standard/src/Analysis/Service/Config.php
  api/src/Elasticsuite/Standard/src/Analysis/Tests/Unit/CacheManagerMock.php
  api/src/Elasticsuite/Standard/src/Analysis/Tests/Unit/ConfigTest.php
  api/src/Elasticsuite/Standard/src/DependencyInjection/Configuration.php
  api/src/Elasticsuite/Standard/src/DependencyInjection/ElasticsuiteExtension.php
  api/src/Elasticsuite/Standard/src/Index/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Index/Service/IndexSettings.php
Labels: backend

Add Global Analyzerz Configuration #ESPP-268
  api/src/Elasticsuite/Standard/src/Analysis/Resources/config/elasticsuite_analysis.yaml
  api/src/Elasticsuite/Standard/src/Analysis/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Analysis/Resources/config/test/elasticsuite_analysis.yaml
  api/src/Elasticsuite/Standard/src/Analysis/Service/Config.php
  api/src/Elasticsuite/Standard/src/Analysis/Tests/Unit/CacheManagerMock.php
  api/src/Elasticsuite/Standard/src/Analysis/Tests/Unit/ConfigTest.php
  api/src/Elasticsuite/Standard/src/DependencyInjection/Configuration.php
  api/src/Elasticsuite/Standard/src/DependencyInjection/ElasticsuiteExtension.php
  api/src/Elasticsuite/Standard/src/Index/Resources/config/services.yaml
  api/src/Elasticsuite/Standard/src/Index/Service/IndexSettings.php
Labels: backend

feat: add Filters component
  pwa/components/atoms/RegularTheme.tsx
  pwa/components/atoms/buttons/CommonButtonStyle.tsx
  pwa/components/atoms/form/Checkbox.stories.tsx
  pwa/components/atoms/form/Checkbox.tsx
  pwa/components/atoms/form/DropDown.tsx
  pwa/components/atoms/form/Tag.tsx
  pwa/components/molecules/Filters/Filter.tsx
  pwa/components/molecules/Filters/Filters.stories.tsx
  pwa/components/molecules/Filters/Filters.styled.tsx
  pwa/components/molecules/Filters/Filters.tsx
  pwa/public/locales/en/common.json
  pwa/public/locales/fr/common.json
Labels: frontend

chore: update .gitignore
  pwa/.gitignore
  pwa/components/.gitignore
Labels: frontend

refactor: update menu to add it in storybook
  pwa/components/atoms/menu/MenuItem.stories.tsx
  pwa/components/atoms/menu/MenuItem.tsx
  pwa/components/atoms/menu/MenuItemIcon.stories.tsx
  pwa/components/atoms/menu/MenuItemIcon.tsx
  pwa/components/molecules/layout/Menu/Menu.stories.tsx
  pwa/components/molecules/layout/Menu/Menu.tsx
  pwa/components/molecules/layout/Sidebar/Sidebar.stories.tsx
  pwa/components/molecules/layout/Sidebar/Sidebar.tsx
  pwa/components/stateful/layout/Layout.tsx
  pwa/pages/_app.tsx
  pwa/store/api.ts
  pwa/store/menu.ts
Labels: frontend

refactor: remove preview components
  pwa/components/atoms/buttons/ButtonsPreview.tsx
  pwa/pages/preview_test.tsx
Labels: frontend

refactor: create missing stories
  pwa/.storybook/preview.js
  pwa/components/AppProvider.tsx
  pwa/components/atoms/help/Help.stories.tsx
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/help/HelpOver.tsx
  pwa/components/atoms/menu/MenuItemIcon.test.tsx
  pwa/components/atoms/user/UserMenu.stories.tsx
  pwa/components/atoms/user/UserMenu.tsx
  pwa/components/atoms/user/UserMenuShow.tsx
  pwa/components/molecules/layout/appBar/AppBar.stories.tsx
  pwa/components/molecules/layout/user/User.stories.tsx
  pwa/components/molecules/layout/user/User.tsx
  pwa/components/organisms/layout/CustomLayout.tsx
  pwa/constants/index.ts
  pwa/constants/theme.tsx
  pwa/global.d.ts
  pwa/pages/_app.tsx
  pwa/utils/tests.tsx
Labels: frontend

refactor: update menu to add it in storybook
  pwa/components/atoms/menu/MenuItem.stories.tsx
  pwa/components/atoms/menu/MenuItem.tsx
  pwa/components/atoms/menu/MenuItemIcon.stories.tsx
  pwa/components/atoms/menu/MenuItemIcon.tsx
  pwa/components/molecules/layout/Menu/Menu.stories.tsx
  pwa/components/molecules/layout/Menu/Menu.tsx
  pwa/components/molecules/layout/Sidebar/Sidebar.stories.tsx
  pwa/components/molecules/layout/Sidebar/Sidebar.tsx
  pwa/components/stateful/layout/Layout.tsx
  pwa/pages/_app.tsx
  pwa/store/api.ts
  pwa/store/menu.ts
Labels: frontend

refactor: remove preview components
  pwa/components/atoms/buttons/ButtonsPreview.tsx
  pwa/pages/preview_test.tsx
Labels: frontend

refactor: create missing stories
  pwa/.storybook/preview.js
  pwa/components/AppProvider.tsx
  pwa/components/atoms/help/Help.stories.tsx
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/help/HelpOver.tsx
  pwa/components/atoms/menu/MenuItemIcon.test.tsx
  pwa/components/atoms/user/UserMenu.stories.tsx
  pwa/components/atoms/user/UserMenu.tsx
  pwa/components/atoms/user/UserMenuShow.tsx
  pwa/components/molecules/layout/appBar/AppBar.stories.tsx
  pwa/components/molecules/layout/user/User.stories.tsx
  pwa/components/molecules/layout/user/User.tsx
  pwa/components/organisms/layout/CustomLayout.tsx
  pwa/constants/index.ts
  pwa/constants/theme.tsx
  pwa/global.d.ts
  pwa/pages/_app.tsx
  pwa/utils/tests.tsx
Labels: frontend

fix: typescript error
  pwa/components/atoms/buttons/Button.stories.tsx
  pwa/pages/admin/[[...slug]].tsx
Labels: frontend

fix: typescript error
  pwa/components/atoms/buttons/Button.stories.tsx
  pwa/pages/admin/[[...slug]].tsx
Labels: frontend

update: add stories of 3 modals
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/Tooltip.stories.tsx
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

fix: add tooltip & alert_info_msg & pop_in
  pwa/components/atoms/modals/AlertInfoMessage.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/modals/Tooltip.tsx
  pwa/constants/theme.tsx
Labels: frontend

update: add stories of 3 modals
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/Tooltip.stories.tsx
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

fix: add tooltip & alert_info_msg & pop_in
  pwa/components/atoms/modals/AlertInfoMessage.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/modals/Tooltip.tsx
  pwa/constants/theme.tsx
Labels: frontend

update css PopIn + add new component : closeComponent
  pwa/components/atoms/closeComponent/CloseComponent.tsx
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/user/UserMenu.tsx
Labels: frontend

fix: update ESPP_215
  pwa/components/atoms/closeComponent/CloseComponent.tsx
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/modals/Tooltip.stories.tsx
  pwa/components/atoms/user/UserMenu.tsx
Labels: frontend

update css PopIn + add new component : closeComponent
  pwa/components/atoms/closeComponent/CloseComponent.tsx
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/user/UserMenu.tsx
Labels: frontend

fix: update ESPP_215
  pwa/components/atoms/closeComponent/CloseComponent.tsx
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/modals/Tooltip.stories.tsx
  pwa/components/atoms/user/UserMenu.tsx
Labels: frontend

ESPP_215 update desc tooltip stories
  pwa/components/atoms/modals/Tooltip.stories.tsx
Labels: frontend

fix : add interface for props
  pwa/components/atoms/modals/AlertInfoMessage.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

update regular theme
  pwa/constants/theme.tsx
Labels: frontend

fix : popIn + update popIn stories
  pwa/components/atoms/closeComponent/CloseComponent.tsx
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/constants/theme.tsx
Labels: frontend

fix : popIn + update popIn stories
  pwa/components/atoms/closeComponent/CloseComponent.tsx
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/constants/theme.tsx
Labels: frontend

update regular theme
  pwa/constants/theme.tsx
Labels: frontend

ESPP_215 update desc tooltip stories
  pwa/components/atoms/modals/Tooltip.stories.tsx
Labels: frontend

fix : add interface for props
  pwa/components/atoms/modals/AlertInfoMessage.tsx
  pwa/components/atoms/modals/ModalsPreview.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

update: delete preview modals
  pwa/components/atoms/modals/ModalsPreview.tsx
Labels: frontend

update: delete preview modals
  pwa/components/atoms/modals/ModalsPreview.tsx
Labels: frontend

ESPP_215 fix eslint
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/AlertInfoMessage.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/modals/Tooltip.stories.tsx
  pwa/components/atoms/modals/Tooltip.tsx
  pwa/components/atoms/user/UserMenu.tsx
Labels: frontend

ESPP_215 update style
  pwa/components/atoms/help/Help.tsx
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/user/UserMenu.tsx
Labels: frontend

ESPP_215 fix eslint
  pwa/components/atoms/modals/AlertInfoMessage.stories.tsx
  pwa/components/atoms/modals/AlertInfoMessage.tsx
  pwa/components/atoms/modals/PopIn.stories.tsx
  pwa/components/atoms/modals/PopIn.tsx
  pwa/components/atoms/modals/Tooltip.stories.tsx
  pwa/components/atoms/modals/Tooltip.tsx
  pwa/components/atoms/user/UserMenu.tsx
Labels: frontend

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']
