Repository Elastic-Suite/gally, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, backend, frontend

ESPP_445 update : add arrow tooltip
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

ESPP_445 update test + rebase
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
Labels: frontend

ESPP_445 fix: failed in rebase during the change of width in TwoColsLayout component
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.tsx
Labels: frontend

ESPP_445 update : add arrow tooltip
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

ESPP_445 fix: failed in rebase during the change of width in TwoColsLayout component
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.tsx
Labels: frontend

ESPP_445 fix: failed in rebase during the change of width in TwoColsLayout component
  pwa/components/molecules/layout/twoColsLayout/TwoColsLayout.tsx
Labels: frontend

ESPP_445 update test + rebase
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
Labels: frontend

ESPP_445 update test + rebase
  pwa/components/molecules/layout/twoColsLayout/__snapshots__/TwoColsLayout.test.tsx.snap
Labels: frontend

ESPP_445 update : add arrow tooltip
  pwa/components/atoms/modals/Tooltip.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button mise en place des alert, correction des retour de lea feat/251/264/392/391/252
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button/retourTonyCorriger
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button/retourTonyCorriger
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/components/atoms/form/Switch.tsx
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button
  .gitignore
  package.json
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/types/categories.ts
Labels: frontend

feat/ESPP-382-save-button
  pwa/components/atoms/form/Switch.tsx
  pwa/components/atoms/form/__snapshots__/SwitchLabel.test.tsx.snap
  pwa/components/stateful/Merchandize/Merchandize.tsx
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button mise en place des alert, correction des retour de lea feat/251/264/392/391/252
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/public/locales/en/categories.json
  pwa/public/locales/fr/categories.json
Labels: frontend

feat/ESPP-382-save-button-snapShot
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button
  .gitignore
  package.json
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
  pwa/types/categories.ts
Labels: frontend

feat/ESPP-382-save-button/retourTonyCorriger
  .gitignore
  node_modules/.yarn-integrity
  package.json
  yarn.lock
Labels: none

feat/ESPP-382-save-button
  pwa/components/stateful/ProductsContainer/ProductsContainer.tsx
  pwa/pages/admin/merchandize/categories.tsx
Labels: frontend

feat/ESPP-382-save-button/retourTonyCorriger
  .gitignore
  node_modules/.yarn-integrity
  package.json
  yarn.lock
Labels: none

feat/ESPP-382-save-button-snapShot
  pwa/components/stateful/Merchandize/__snapshots__/Merchandize.test.tsx.snap
Labels: frontend

#ESPP-421 Add test on GraphQl schema generation
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/Api/GraphQl/GraphQlSchemaTest.php
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/fixtures/metadata.yaml
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/fixtures/metadata_fake.yaml
Labels: backend

#ESPP-421 Add test on GraphQl schema generation
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/Api/GraphQl/GraphQlSchemaTest.php
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/fixtures/metadata.yaml
  api/src/Elasticsuite/Standard/src/GraphQl/Tests/fixtures/metadata_fake.yaml
Labels: backend

feat: initialize router, header and menu
  example-app/.env
  example-app/package-lock.json
  example-app/package.json
  example-app/src/App.css
  example-app/src/App.test.tsx
  example-app/src/App.tsx
  example-app/src/assets/scss/style.scss
  example-app/src/components/App/App.tsx
  example-app/src/components/Header/Header.tsx
  example-app/src/components/Menu/Menu.tsx
  example-app/src/index.css
  example-app/src/index.tsx
  example-app/src/logo.svg
  example-app/src/pages/Homepage/Homepage.tsx
  example-app/yarn.lock
Labels: none

feat: initialize example app
  example-app/.eslintignore
  example-app/.eslintrc.js
  example-app/.gitignore
  example-app/.husky/pre-commit
  example-app/.prettierignore
  example-app/.prettierrc
  example-app/README.md
  example-app/package.json
  example-app/public/favicon.ico
  example-app/public/index.html
  example-app/public/logo192.png
  example-app/public/logo512.png
  example-app/public/manifest.json
  example-app/public/robots.txt
  example-app/src/App.css
  example-app/src/App.test.tsx
  example-app/src/App.tsx
  example-app/src/index.css
  example-app/src/index.tsx
  example-app/src/logo.svg
  example-app/src/react-app-env.d.ts
  example-app/src/reportWebVitals.ts
  example-app/src/setupTests.ts
  example-app/tsconfig.json
  example-app/tsconfig.tsbuildinfo
  example-app/yarn.lock
Labels: none

feat: add Login mechanism
  front/example-app/src/__mocks__/shared.ts
  front/example-app/src/components/App/App.tsx
  front/example-app/src/components/Layout/Layout.tsx
  front/example-app/src/components/Providers/AppProvider/AppProvider.tsx
  front/example-app/src/components/Providers/RequestedPathProvider/RequestedPathProvider.tsx
  front/example-app/src/components/Providers/UserProvider/UserProvider.tsx
  front/example-app/src/components/Title/Title.tsx
  front/example-app/src/contexts/index.ts
  front/example-app/src/contexts/requestedPath.ts
  front/example-app/src/contexts/user.ts
  front/example-app/src/hocs/index.ts
  front/example-app/src/hocs/withAuth.tsx
  front/example-app/src/hooks/index.ts
  front/example-app/src/hooks/useApi.test.ts
  front/example-app/src/hooks/useLog.test.ts
  front/example-app/src/hooks/useLog.ts
  front/example-app/src/hooks/useResource.test.ts
  front/example-app/src/hooks/useUser.test.ts
  front/example-app/src/hooks/useUser.ts
  front/example-app/src/pages/Homepage/Homepage.tsx
  front/example-app/src/pages/Login/Login.tsx
  front/pwa/__mocks__/shared.ts
  front/pwa/hooks/useLog.ts
  front/pwa/hooks/useUser.ts
  front/pwa/package.json
  front/shared/package.json
  front/shared/src/services/api.test.ts
  front/shared/src/services/api.ts
  front/shared/src/services/user.ts
Labels: none

feat: add catalog context and provider
  front/example-app/src/components/App/App.tsx
  front/example-app/src/components/Header/Header.test.tsx
  front/example-app/src/components/Header/Header.tsx
  front/example-app/src/components/Providers/AppProvider/AppProvider.tsx
  front/example-app/src/components/Providers/CatalogProvider/CatalogProvider.tsx
  front/example-app/src/components/Providers/SchemaProvider/SchemaProvider.tsx
  front/example-app/src/contexts/catalog.ts
  front/example-app/src/contexts/index.ts
Labels: none

feat: add catalog swicher and add tests
  front/example-app/package.json
  front/example-app/src/__mocks__/shared.ts
  front/example-app/src/components/App/App.tsx
  front/example-app/src/components/AppProvider/AppProvider.tsx
  front/example-app/src/components/Header/Header.test.tsx
  front/example-app/src/components/Header/Header.tsx
  front/example-app/src/components/Header/__snapshots__/Header.test.tsx.snap
  front/example-app/src/hooks/index.ts
  front/example-app/src/hooks/useApi.test.ts
  front/example-app/src/hooks/useApi.ts
  front/example-app/src/hooks/useResource.test.ts
  front/example-app/src/hooks/useResource.ts
  front/example-app/src/utils/TestProvider.tsx
  front/example-app/src/utils/tests.tsx
  front/pwa/hooks/useApiFilters.test.ts
  front/pwa/hooks/useOptions.test.ts
  front/pwa/hooks/useResource.test.ts
  front/pwa/hooks/useSingletonLoader.test.ts
  front/pwa/hooks/useUser.test.ts
  front/pwa/utils/tests.tsx
Labels: none

.github/labeler.yml:

# Add 'infra' label to any change to docker files
infra:
    - any: ['api/docker/**', 'docker*', 'pwa/Dockerfile', 'helm/**', '.github/**']

# Add 'backend` label to any change to files under /api/ except docker related files.
backend:
    - any: ['api/**/*', '!api/docker/*']

# Add 'frontend` label to any change to files under /api/ except docker related files.
frontend:
    - any: ['pwa/**/*', '!pwa/Dockerfile']
