Repository Elastic-Suite/gally, pull requests merged in 2023-11, with the labels that each got.

#580 Increase memory limit for tests
  api/phpunit.xml.dist
Labels: backend

#558 feat #1243475 Autocomplete
  front/example-app/src/components/SearchBar/SearchBar.tsx
  front/example-app/src/constants/category.ts
  front/example-app/src/constants/index.ts
  front/example-app/src/constants/product.ts
  front/example-app/src/types/category.ts
  front/example-app/src/types/product.ts
Labels: frontend, example-app

#581 Feat deploy sylius demo
  .github/workflows/deploy-demo-sylius.yml
Labels: frontend, backend, example-app, pwa
