Repository Elastic-Suite/gally, pull requests merged in 2023-02, with the labels that each got.

#508 Espp 686 app example image error url
  front/example-app/src/components/Products/ProductCard.tsx
  front/example-app/src/components/Providers/AppProvider/AppProvider.tsx
  front/example-app/src/components/Providers/ConfigurationsProvider/ConfigurationsProvider.tsx
  front/example-app/src/contexts/configurations.ts
  front/example-app/src/contexts/index.ts
Labels: frontend, example-app

#527 [Docker build] Update caddy version
  api/Dockerfile
Labels: backend

#526 Update url in install docs
  INSTALL.md
Labels: good first issue
