Repository Elastic-Suite/gally, pull requests merged in 2023-07, with the labels that each got.

#542 Add beberlei/doctrineextensions composer package
  api/composer.json
  api/composer.lock
  api/symfony.lock
Labels: backend

#545 Update front version of Gally packages on 1.0.x
  front/pwa/package.json
Labels: frontend, pwa

#544 Update front version of Gally packages on master
  front/pwa/package.json
Labels: frontend, pwa

#547 Revert "Update front version of Gally packages on 1.0.x"
  front/pwa/package.json
Labels: frontend, pwa

#549 Update version to 1.0.1 for all the gally packages in front and back
  api/composer.json
  api/composer.lock
  front/example-app/package.json
  front/pwa/package.json
Labels: frontend, backend, example-app, pwa

#551 Update @elastic-suite/gally-admin-shared version on example-app to main
  front/example-app/package.json
Labels: frontend, example-app

#543 "Merge" Feature boost on master
  front/pwa/pages/admin/merchandize/boost/create.tsx
  front/pwa/pages/admin/merchandize/boost/edit.tsx
  front/pwa/pages/admin/merchandize/boost/grid.tsx
Labels: frontend, pwa

#552 Update gally front packages
  front/example-app/package.json
  front/pwa/package.json
Labels: frontend, example-app, pwa
