Repository Elastic-Suite/gally, pull requests merged in 2023-05, with the labels that each got.

#529 #1191173 Add page grid boosts
  front/pwa/pages/admin/boost/grid.tsx
Labels: frontend, backend, pwa

#536 #1229501 Set explicitly mercure versions
  api/Dockerfile
Labels: backend

#535 #1228809 [DockerFiles] Add 'yarn cache clean' on front images to redu…
  front/Dockerfile
  front/docker-entrypoint-pwa.sh
Labels: frontend
