Repository Elastic-Suite/gally, pull requests merged in 2024-07, with the labels that each got.

#610 fix(#1302791): [Example App] Allow to refresh
  front/example-app/src/components/App/App.tsx
Labels: frontend, example-app

#609 feat(#1300976): [Example App] Center SearchBar
  front/example-app/src/components/Header/Header.tsx
  front/example-app/src/components/Header/__snapshots__/Header.test.tsx.snap
  front/example-app/src/components/SearchBar/SearchBar.tsx
Labels: frontend, example-app

#611 Adding platformsh configuration files.
  .platform/applications.yaml
  .platform/routes.yaml
  .platform/services.yaml
  api/.environment
  front/.environment
  front/platformsh_handle_mounts.sh
Labels: frontend

#612 feat(#1277555): [FRONT] remove dayjs from depandencies
  front/pwa/package.json
  front/yarn.lock
Labels: frontend, pwa
